{{#extend "layouts/default" title="Услуги"}}
    {{#content "page"}}
        <div class="services">
            <div class="container">
                <ul class="breadcrumbs">
                    <li class="breadcrumbs__item"><a href="/" class="breadcrumbs__link">
                        Главная
                    </a></li>
                    <li class="breadcrumbs__item">
                        <a href="/about-company" class="breadcrumbs__link">
                        О компании
                    </a>
                    </li>
                    <li class="breadcrumbs__item">Услуги</li>
                </ul>
                <h1>
                    Услуги
                </h1>
                <div class="service-card">
                    <div class="row">
                        <div class="col-md-5"><img src="/assets/images/site/services/design.jpg" alt></div>
                        <div class="col-md-7">
                            <div class="service-card__text">
                                <h3 class="text-primary">
                                    Проектирование
                                </h3>
                                <div class="mb-xl-5 mb-4">
                                    Индивидуальное проектирование каркасных домов – это одно из основных направлений
                                    нашей
                                    деятельности. Многолетний стаж в области разработки проектов и авторского
                                    надзора
                                    утвердил наше понимание о главных задачах и нюансах, которые необходимо
                                    учитывать при
                                    проведение проектных и строительных работ.
                                    <br><br>
                                    Работая с нами Вы получаете профессионально выполненный проект, в котором учтены
                                    и
                                    приведены
                                    в соответствие с нормами СНиП все Ваши пожелания, а не просто красиво
                                    начерченные
                                    картинки,
                                    оторванные от реалий строительства
                                </div>
                                <button class="button button_outline">
                                    <i class="button__icon icon-dialog text-secondary"></i>
                                    Начать диалог о проектировании
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="service-card">
                    <div class="row">
                        <div class="col-md-7 order-1 order-md-0">
                            <div class="service-card__text"><h3 class="text-primary">
                                Инженерные системы
                            </h3>
                                <div class="mb-xl-5 mb-4">
                                    Инженерные системы и коммуникации – неотъемлемая часть любого дома и их
                                    значимость для
                                    комфортного проживания трудно переоценить. Мы предлагаем выполнить инженерию в
                                    Вашем
                                    каркасном доме так, чтобы Вы вспомнили об ее существовании только при следующем
                                    капитальном
                                    ремонте. Мы строим дома под ключ и уже на уровне конструктива здания
                                    предусматриваем
                                    ньюансы, связанные с оснащением его инженерией.
                                    <br><br>
                                    На профессиональном уровне мы выполняем всю инженерию под ключ – внутреннюю и
                                    внешнюю.
                                </div>
                                <div class="services__items">
                                    <div class="services__item me-xl-5 me-0"><i class="icon-fire"></i>
                                        Котельные и отопление
                                    </div>
                                    <div class="services__item"><i class="icon-electricity"></i>
                                        Электрика
                                    </div>
                                    <div class="services__item me-xl-5 me-0"><i class="icon-water-system"></i>
                                        Водоснабжение и канализация
                                    </div>
                                    <div class="services__item"><i class="icon-ventilation"></i>
                                        Вентиляция и кондиционирование
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 order-0 order-md-1">
                            <img src="/assets/images/site/services/system.jpg" alt>
                        </div>
                    </div>
                </div>
                <div class="service-card">
                    <div class="row">
                        <div class="col-md-5">
                            <img src="/assets/images/site/services/design.jpg" alt>
                        </div>
                        <div class="col-md-7">
                            <div class="service-card__text">
                                <h3 class="text-primary">
                                    Отделка
                                </h3>
                                <div class="mb-xl-5 mb-0">
                                    Внешняя отделка каркасного дома – это тот фактор, который один из первых влияет
                                    на
                                    визуальное восприятие дома. А внутренняя отделка создает уют в доме и хорошее
                                    настроение
                                    проживающих в нем. Даже самая интересная и стильная архитектура дома не будет
                                    смотреться,
                                    если его отделка выполнена не профессионально. Мы отлично знакомы с российским
                                    рынком
                                    отделочных материалов, знаем какие из них оптимально использовать и где их лучше
                                    всего
                                    приобрести. Мы всегда поможем разобраться во всем многообразии ассортимента и
                                    поможем
                                    Вам принять правильное решение.
                                    <br><br>
                                    Мы выполняем внешнюю и внутреннюю отделку каркасных домов любого уровня
                                    сложности - от
                                    эксклюзивной до уровня эконом
                                    <br><br>
                                    При необходимости, к работе может быть привлечен дизайнер
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-md-none d-block mt-3">
                    Хотите заказать проект дома мечты, рассчитать стоимость реализации уже существующего или просто
                    пообщаться и задать вопрос?
                    <br><br>
                    Пишите письма, звоните или заходите в гости
                </div>
                <div class="get-consultation services__get-call d-md-none d-block"><img
                        src="/assets/images/site/for-client/consultation.png" alt="">
                    <div class="get-consultation__content">
                        <div class="get-consultation__text"><h3>Заказать</h3>
                            <p class="mb-3">
                                Если у вас нет времени приехать к нам в офис? Наши специалисты приедут к вам,
                                предварительно
                                согласуют встречу и подготовят расчёт по техническому заданию на строительство дома
                            </p>
                            Вы можете записаться на встречу в выходные дни
                        </div>
                        <button type="button" class="button button_primary">
                            ЗАКАЗАТЬ ЗВОНОК
                        </button>
                    </div>
                </div>
                <div class="get-consultation">
                    <img src="/assets/images/site/for-client/consultation.png"
                         alt="">
                    <div class="get-consultation__content">
                        <div class="get-consultation__text">
                            <h3>Получите консультацию</h3>
                            Консультация эксперта с 10 летним стажем
                        </div>
                        <button type="button" class="button button_primary">
                            ПОЛУЧИТЬ КОНСУЛЬТАЦИЮ
                        </button>
                    </div>
                </div>
            </div>
        </div>
    {{/content}}
{{/extend}}
