{{#extend "layouts/default" page-class="pt-0" title="Главная"}}
    {{#content "page"}}
        <div class="header">
            <div class="container">
                <div class="row align-items-end">
                    <div class="col-lg-7 header__text">
                        <h1 class="h1_super">
                            Дом мечты, который нужен семье
                        </h1>
                        <h4 class="fw-normal">
                            Стройте планы, дом построит "Frame House"
                        </h4></div>
                    <div class="col-lg-4">
                        <img src="/assets/images/site/index/header-mans.png"
                             class="header__img">
                    </div>
                </div>
                <ul class="header__advantages">
                    <li class="header-advantage">
                        <i class="header-advantage__icon icon-wood"
                        ></i> Сухие пиломатериалы
                        заводской сушки
                    </li>
                    <li class="header-advantage">
                        <i
                                class="header-advantage__icon icon-videocamera"></i> Видеонаблюдение
                        24/7 за процессом стройки
                        вашего дома
                    </li>
                    <li class="header-advantage">
                        <i class="header-advantage__icon icon-guaranty"
                        ></i> Гарантия на построенные
                        объекты 10 лет
                    </li>
                    <li class="header-advantage">
                        <i class="header-advantage__icon icon-control1"
                        ></i> Контроль строительства
                        на каждом этапе
                    </li>
                    <li class="header-advantage">
                        <i class="header-advantage__icon icon-money"
                        ></i> Работаем без предоплаты
                    </li>
                    <li class="header-advantage">
                        <i
                                class="header-advantage__icon icon-passport1"></i> Специалисты
                        только с гражданством РФ
                    </li>
                </ul>
            </div>
        </div>
        <div class="container">
            <div class="about-statistics"><h2 class="text-lg-center mb-lg-5">
                Успешно работаем с 2002 года
            </h2>
                <div class="about-statistics__content">
                    <div class="statistics-card">
                        <div class="statistic-card__number mt-lg-3">
                            19
                        </div>
                        лет надежной работы
                    </div>
                    <div class="statistics-card">
                        <div class="text-primary">
                            Более
                        </div>
                        <div class="statistic-card__number">
                            1300
                        </div>
                        домов построено
                    </div>
                    <div class="statistics-card">
                        <div class="text-primary">
                            Более
                        </div>
                        <div class="statistic-card__number">
                            200
                        </div>
                        готовых проектов
                    </div>
                    <div class="statistics-card">
                        <div class="text-primary">
                            Более
                        </div>
                        <div class="statistic-card__number">
                            100
                        </div>
                        разработанных проектов
                    </div>
                    <div class="about-statistics__text"><p>
                        Frame House — это выбор тысяч семей как надежной и ответственной строительной
                        организации!
                    </p>
                        <p>
                            Мы работаем в сфере строительства высококачественных и современных каркасных домов
                            домов,
                            воплощаем в жизнь проекты любой сложности и строго следуем требованиям заказчика.
                        </p>
                        <p>
                            За годы нашей деятельности каркасные дома стали известны по всей Ленинградской
                            области.
                            Такой
                            популярности послужили профессиональное проектирование, безупречное качество
                            реализации
                            проектов. Мы предлагаем доступное жилье по умеренным ценам — при этом наши дома
                            отвечают
                            всем
                            современным требованиям качества и дизайна.
                        </p></div>
                </div>
            </div>
            <div class="house-projects">
                <div class="house-projects__header"><h2 class="mb-0 me-3 order-0 order-lg-0"
                >
                    Проекты домов
                </h2>
                    <ul class="order-2 order-lg-0 mt-3 mt-lg-0 nav nav-pills nav-pills_outline" role="tablist">
                        <li class="nav-item">
                            <button class="nav-link active" data-bs-toggle="pill"
                                    data-bs-target="#one-floor">
                                1 этаж
                            </button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link" data-bs-toggle="pill"
                                    data-bs-target="#two-floor">
                                2 этаж
                            </button>
                        </li>
                    </ul>
                    <a href="/projects"
                       class="button me-0 ms-auto order-1 order-lg-0 house-projects__show-more button_primary button_outline"
                    >
                        Посмотреть все проекты
                    </a>
                </div>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="one-floor" role="tabpanel">
                        <div class="house-projects__items">
                            <div class="house-project-card"><img
                                    src="/assets/images/site/catalogue/item.png" alt="item" class="mb-3">
                                <div class="house-project-card__description">
                                    <div class="mb-3">
                                        Каркасный дом Проект 345
                                    </div>
                                    <div>Площадь: <span>138.2 м<sup
                                    >2</sup></span></div>
                                    <div class="d-flex justify-content-between flex-xl-row flex-column">
                                        <div>Спальных комнат: <span>4</span></div>
                                        <div>от <span>1 450 000 Р</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="house-project-card"><img
                                    src="/assets/images/site/catalogue/item.png" alt="item" class="mb-3">
                                <div class="house-project-card__description">
                                    <div class="mb-3">
                                        Каркасный дом Проект 345
                                    </div>
                                    <div>Площадь: <span>138.2 м<sup
                                    >2</sup></span></div>
                                    <div class="d-flex justify-content-between flex-xl-row flex-column">
                                        <div>Спальных комнат: <span>4</span></div>
                                        <div>от <span>1 450 000 Р</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="house-project-card"><img
                                    src="/assets/images/site/catalogue/item.png" alt="item" class="mb-3">
                                <div class="house-project-card__description">
                                    <div class="mb-3">
                                        Каркасный дом Проект 345
                                    </div>
                                    <div>Площадь: <span>138.2 м<sup
                                    >2</sup></span></div>
                                    <div class="d-flex justify-content-between flex-xl-row flex-column">
                                        <div>Спальных комнат: <span>4</span></div>
                                        <div>от <span>1 450 000 Р</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="two-floor" role="tabpanel">
                        <div class="house-projects__items">
                            <div class="house-project-card"><img
                                    src="/assets/images/site/catalogue/item.png" alt="item" class="mb-3">
                                <div class="house-project-card__description">
                                    <div class="mb-3">
                                        Каркасный дом Проект 345
                                    </div>
                                    <div>Площадь: <span>138.2 м<sup
                                    >2</sup></span></div>
                                    <div class="d-flex justify-content-between flex-xl-row flex-column">
                                        <div>Спальных комнат: <span>4</span></div>
                                        <div>от <span>1 450 000 Р</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="calculation-feedback">
                <img src="/assets/images/site/feedback/feedback.png" alt
                     class="d-lg-block d-none">
                <img src="/assets/images/site/feedback/feedback-sm.jpg" alt class="d-lg-none d-block">
                <div class="calculation-feedback__content"><h3 class="mb-3">
                    Есть свой проект? Рассчитаем его и предложим выгодную цену
                </h3>
                    <p class="mb-5">
                        Наши архитекторы воплотят в жизнь любые ваши идеи по проектированию дома и обустройству
                        участка. Мы
                        создадим для вас настоящий дом для жизни
                    </p>
                    <div class="h4 fw-normal mb-3">
                        Подойдет проект в любом виде:
                    </div>
                    <div class="d-flex mb-4">
                        <div class="d-flex align-items-center me-3"><i class="icon-check-mark"
                        ></i>
                            чертеж
                        </div>
                        <div class="d-flex align-items-center me-3"><i class="icon-check-mark"
                        ></i>
                            эскиз
                        </div>
                        <div class="d-flex align-items-center"><i class="icon-check-mark"
                        ></i> рисунок
                        </div>
                    </div>
                    <div class="mb-4"><a href="#" class="link link_secondary"><i
                            class="icon-clip"></i> <span class="text-decoration-underline"
                    >
                    Прикрепите файл проекта
                </span></a></div>
                    <div class="calculation-feedback__form">
                        <div class="input"><input placeholder="Номер телефона"
                                                  class="input__input"> <label
                                class="input__label">

                        </label> <!----></div>
                        <button class="button button_primary">РАССЧИТАТЬ ПРОЕКТ</button>
                    </div>
                    <div class="calculation-feedback__terms">
                        Нажимая на кнопку "Рассчитать проект" Вы соглашаетесь на обработку персональных данных в
                        соответствии с условиями
                        <a href="/" class="link link_dark text-decoration-underline">политики
                            конфиденциальности
                        </a></div>
                </div>
            </div>
            <div class="dream-house"><h2 class="dream-house__title">
                Не просто строим типовые дома, мы возводим дом вашей мечты!
            </h2>
                <div class="dream-house__card">
                    <div class="order-1 order-lg-0"><h5 class="text-primary mb-4"
                    >
                        Сделайте 5 шагов к жизни в новом доме
                    </h5> <img src="/assets/images/site/dream-house/dream-house-sm.png" alt
                               class="d-lg-none d-block mb-4 w-100">
                        <ul class="dream-house__list">
                            <li class="dream-house__list-item"><span>01</span>
                                <p>Выбираете понравившийся проект или предлагаете свой
                                    индивидуальный</p></li>
                            <li class="dream-house__list-item"><span>02</span>
                                <p>
                                    Утверждаем перечень работ и договариваемся о сумме строительства. Сумма
                                    фиксируется в
                                    договоре и не изменится во время строительства
                                </p></li>
                            <li class="dream-house__list-item"><span>03</span>
                                <p>Заключаем договор без предоплаты при личной встрече</p></li>
                            <li class="dream-house__list-item"><span>04</span>
                                <p>Доставляем материал на участок и начинаем работу</p></li>
                            <li class="dream-house__list-item"><span>05</span>
                                <p>Сдача готового дома в срок, указанный в договоре и производим
                                    расчет</p></li>
                        </ul>
                    </div>
                    <img src="/assets/images/site/dream-house/dream-house.png" alt class="d-lg-block d-none"
                    ></div>
            </div>
        </div>
        <div class="index-offers">
            <div class="container index-offers__container">
                <div class="index-offer"><i class="icon-wrap icon-loan index-offer__icon"
                ></i>
                    <div class="index-offer__title">
                        Кредит и рассрочка
                    </div>
                    <div class="index-offer__small">
                        Выгодные условия от банков-партнеров
                    </div>
                    <div>
                        ЛУЧШЕЕ ВРЕМЯ - СЕЙЧАС!
                    </div>
                </div>
                <div class="index-offer"><i class="icon-wrap icon-emblem index-offer__icon"
                ></i>
                    <div class="index-offer__title">
                        Кредит и рассрочка
                    </div>
                    <div class="index-offer__small">
                        Воспользутесь
                    </div>
                    <div>
                        МАТЕРИНСКИЙ КАТИПАЛ
                    </div>
                </div>
                <div class="index-offer"><i class="icon-wrap icon-emblem index-offer__icon"
                ></i>
                    <div class="index-offer__title">
                        Кредит и рассрочка
                    </div>
                    <div class="index-offer__small">
                        Выезд на стройплощадку
                    </div>
                    <div>
                        ЗАПИШИТЕСЬ НА ПОКАЗ
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="completed-projects-block">
                <div class="d-flex justify-content-between align-items-center mb-3"><h2
                        class="mb-0">
                    Реализованные проекты
                </h2>
                    <button class="button button_primary button_outline">
                        Все проекты
                    </button>
                </div>
                <div class="completed-projects-block__text">
                    Мы построили много домов! Построим и Ваш!
                </div>
                <div class="completed-projects-block__items">
                    <div class="completed-project-card completed-project-card_mini" data-v-516108b0
                    >
                        <div class="completed-project-card__label">
                            Готовый проект
                        </div>
                        <div class="completed-project-card__attrs">
                            <div class="completed-project-card__attr"><i
                                    class="completed-project-card__attr-icon icon-area"></i>
                                <span class="completed-project-card__attr-value">
                152 м2
            </span> <small class="completed-project-card__attr-label">
                                    общая площадь
                                </small></div>
                            <div class="completed-project-card__attr"><i
                                    class="completed-project-card__attr-icon icon-room"></i>
                                <span class="completed-project-card__attr-value">
                3
            </span> <small class="completed-project-card__attr-label">
                                    кол-во спален
                                </small></div>
                            <div class="completed-project-card__attr"><i
                                    class="completed-project-card__attr-icon icon-floors"></i>
                                <span class="completed-project-card__attr-value">
                1
            </span> <small class="completed-project-card__attr-label">
                                    кол-во этажей
                                </small></div>
                        </div>
                        <img src="/assets/images/site/completed-projects/completed-house.jpg" alt>
                        <div class="completed-project-card__footer"><i
                                class="completed-project-card__attr-icon icon-location-pin"></i>
                            Ленинградская область,
                            Всеволожский муниципальный район
                        </div>
                    </div>
                    <div class="completed-project-card completed-project-card_mini" data-v-516108b0
                    >
                        <div class="completed-project-card__label">
                            Готовый проект
                        </div>
                        <div class="completed-project-card__attrs">
                            <div class="completed-project-card__attr"><i
                                    class="completed-project-card__attr-icon icon-area"></i>
                                <span class="completed-project-card__attr-value">
                152 м2
            </span> <small class="completed-project-card__attr-label">
                                    общая площадь
                                </small></div>
                            <div class="completed-project-card__attr"><i
                                    class="completed-project-card__attr-icon icon-room"></i>
                                <span class="completed-project-card__attr-value">
                3
            </span> <small class="completed-project-card__attr-label">
                                    кол-во спален
                                </small></div>
                            <div class="completed-project-card__attr"><i
                                    class="completed-project-card__attr-icon icon-floors"></i>
                                <span class="completed-project-card__attr-value">
                1
            </span> <small class="completed-project-card__attr-label">
                                    кол-во этажей
                                </small></div>
                        </div>
                        <img src="/assets/images/site/completed-projects/completed-house.jpg" alt>
                        <div class="completed-project-card__footer"><i
                                class="completed-project-card__attr-icon icon-location-pin"></i>
                            Ленинградская область,
                            Всеволожский муниципальный район
                        </div>
                    </div>
                    <div class="completed-project-card completed-project-card_mini" data-v-516108b0
                    >
                        <div class="completed-project-card__label">
                            Готовый проект
                        </div>
                        <div class="completed-project-card__attrs">
                            <div class="completed-project-card__attr"><i
                                    class="completed-project-card__attr-icon icon-area"></i>
                                <span class="completed-project-card__attr-value">
                152 м2
            </span> <small class="completed-project-card__attr-label">
                                    общая площадь
                                </small></div>
                            <div class="completed-project-card__attr"><i
                                    class="completed-project-card__attr-icon icon-room"></i>
                                <span class="completed-project-card__attr-value">
                3
            </span> <small class="completed-project-card__attr-label">
                                    кол-во спален
                                </small></div>
                            <div class="completed-project-card__attr"><i
                                    class="completed-project-card__attr-icon icon-floors"></i>
                                <span class="completed-project-card__attr-value">
                1
            </span> <small class="completed-project-card__attr-label">
                                    кол-во этажей
                                </small></div>
                        </div>
                        <img src="/assets/images/site/completed-projects/completed-house.jpg" alt>
                        <div class="completed-project-card__footer"><i
                                class="completed-project-card__attr-icon icon-location-pin"></i>
                            Ленинградская область,
                            Всеволожский муниципальный район
                        </div>
                    </div>
                </div>
            </div>
            <div class="house-selection">
                <div class="house-selection__content">
                    <div><h2><span>Подберем и построим</span>
                        проект стильного каркасного дома под Ваш бюджет
                    </h2>
                        <div class="house-selection__description">
                            Ответьте <b>на 5 вопросов</b> и получите список подходящих для Вас
                            домов и бонус от нас
                        </div>
                    </div>
                    <div>
                        <div class="house-selection__button-label">
                            Вам понадобится не более одной минуты на ответы
                        </div>
                        <button class="button house-selection__button button_primary">
                            ПОДОБРАТЬ ДОМ
                        </button>
                    </div>
                </div>
            </div>
            <div class="projects-on-map">
                <div class="projects-on-map__map">
                    <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Acf65ce796d7d56dd650269346547255a6dff65dc14241ced0b2f8cfd0286cf6e&source=constructor"
                            width="100%" height="100%" frameborder="0"></iframe>
                    <div class="projects-on-map__card"><img src="/assets/images/site/map/house.jpg" alt
                    >
                        <div class="projects-on-map__card-info">
                            <div class="mb-2">
                                Каркасный дом Проект 345
                            </div>
                            <div>
                                <div>
                                    Площадь: <span>138.2 м2</span></div>
                                <div>
                                    Спальных комнат: <span>4</span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <form class="projects-on-map__form"><h4 class="text-primary">
                    Хотите посетить один из наших объектов?
                </h4>
                    <p class="mb-4">
                        Оставьте заявку и специалист нашей компании перезвонит в течение 15 минут!
                    </p>
                    <div class="input mb-3"><input required placeholder="Ваше имя"
                                                   class="input__input"></div>
                    <div class="input mb-3"><input required placeholder="Номер телефона"
                                                   class="input__input"></div>
                    <button class="button w-100 mb-2 button_primary">
                        ОСТАВИТЬ ЗАЯВКУ
                    </button>
                    <div class="projects-on-map__agreement gray">
                        Нажимая на кнопку "Оставить заявку" Вы соглашаетесь на обработку персональных данных в
                        соответствии с
                        <a href="#" class="link link_gray">
                            условиями политики конфиденциальности
                        </a></div>
                </form>
            </div>
        </div>
    {{/content}}
{{/extend}}