{{#extend "layouts/default"}}
    {{#content "page"}}
        <div class="promotions">
            <div class="container"><h2 class="promotions__title">
                Акции
            </h2>
                <div class="promotions__cards">
                    <div class="row">
                        <div class="col-lg-4 order-1 order-lg-0 promotions__card-wrap">
                            <div class="promotions__card promotions__card-sm-white">
                                <div class="promotions__card-title">
                                    ДО 30 АПРЕЛЯ
                                </div>
                                <div>
                                    Выгода до 5% на инженерные коммуникации при заказе готового проекта от 800
                                    тыс.руб.
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8 order-0 order-lg-1 promotions__card-wrap">
                            <div class="promotions__card text-end">
                                <div class="promotions__card-title">
                                    СПЕЦИАЛЬНОЕ ПРЕДЛОЖЕНИЕ
                                </div>
                                <div><strong>на установку <br> инженерных коммуникаций</strong></div>
                            </div>
                        </div>
                        <div class="col-lg-8 order-2 promotions__card-wrap">
                            <div class="promotions__card">
                                <div class="promotions__card-title promotions__card-title_big">
                                    –10%
                                </div>
                                <div><strong>ВЫГОДА ПРИ ЗАКАЗЕ В КРЕДИТ</strong></div>
                            </div>
                        </div>
                        <div class="col-lg-4 order-3 promotions__card-wrap">
                            <div class="promotions__card promotions__card-sm-white">
                                <div class="promotions__card-title promotions__card-title_small">
                                    Как получить минус 10% при заказе?
                                </div>
                                <div>
                                    Дополнительная выгода 10% при оформлении кредита на строительство любого проекта
                                    из
                                    нашего
                                    каталога
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="promotions__advantages">
                    <div class="promotions__advantages-item">
                        <div class="icon-wrap promotions__advantages-item-img"><i class="icon-houses"></i></div>
                        <h5>
                            Более 1300 построенных домов с 2002 года
                        </h5></div>
                    <div class="promotions__advantages-item">
                        <div class="icon-wrap promotions__advantages-item-img"><i class="icon-control"></i></div>
                        <h5>
                            Контроль строительства на каждом этапе
                        </h5></div>
                    <div class="promotions__advantages-item">
                        <div class="icon-wrap promotions__advantages-item-img"><i class="icon-guarantee"></i></div>
                        <h5>
                            Гарантия на построенные объекты 10 лет
                        </h5></div>
                    <div class="promotions__advantages-item">
                        <div class="icon-wrap promotions__advantages-item-img"><i class="icon-mother-capital"></i>
                        </div>
                        <h5>
                            Доступный кредит и материнский капитал
                        </h5></div>
                    <div class="promotions__advantages-item">
                        <div class="icon-wrap promotions__advantages-item-img"><i class="icon-employee"></i></div>
                        <h5>
                            Строители с опытом более 15 лет
                        </h5></div>
                </div>
            </div>
        </div>
    {{/content}}
{{/extend}}
