{{#extend "layouts/default" title="Реализованные проекты"}}
    {{#content "page"}}
        <div class="completed-projects">
            <div class="container">
                <h1>
                    Построенные дома
                </h1>
                <div class="row mb-5">
                    <div class="col-lg-8"><p>
                        Каким бы красивым ни был проект дома, только умелые рабочие руки и контроль руководителя
                        строительства приведут к ожидаемому результату. Наши бригады соблюдают технологии
                        строительства
                        и регулярно
                        проходят повышение квалификации. Мы гордимся своим портфолио и всегда готовы показать
                        реальные
                        объекты
                    </p></div>
                </div>
                <div class="row completed-projects__filters">
                    <div class="col-lg-9 col-3">
                        <div class="completed-projects__filters-group d-none d-lg-grid">
                            <select class="form-select mb-3">
                                <option selected disabled>Выберите район</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                            <select class="form-select mb-3">
                                <option selected disabled>Площадь, м2</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                            <select class="form-select mb-3">
                                <option selected disabled>Кол-во спален</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                            <select class="form-select mb-3">
                                <option selected disabled>Кол-во этажей</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                        <button class="button p-1 d-block d-lg-none button_gray">
                            <svg width="41" height="33" viewBox="0 0 41 33" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 5.36353H40.2727" stroke="black" stroke-linecap="round"
                                      stroke-linejoin="round"></path>
                                <path d="M1 27.1819H40.2727" stroke="black" stroke-linecap="round"
                                      stroke-linejoin="round"></path>
                                <path d="M1 16.2727H40.2727" stroke="black" stroke-linecap="round"
                                      stroke-linejoin="round"></path>
                                <circle cx="33.7269" cy="5.36364" r="4.86364" fill="#821E27" stroke="white"
                                        stroke-linecap="round" stroke-linejoin="round"></circle>
                                <circle cx="33.7269" cy="27.1818" r="4.36364" fill="white" stroke="black"
                                        stroke-linecap="round" stroke-linejoin="round"></circle>
                                <circle cx="7.54528" cy="16.2728" r="4.36364" fill="white" stroke="black"
                                        stroke-linecap="round" stroke-linejoin="round"></circle>
                            </svg>
                        </button>
                    </div>
                    <div class="col-lg-3 col-9 text-lg-end">
                        <button class="button button_gray">
                            Смотреть на карте
                            <i class="icon-location-pin button__icon button__icon_right"></i>
                        </button>
                    </div>
                </div>
                <div class="completed-projects__cards">
                    {{> partials/completed-project-card }}
                    {{> partials/completed-project-card }}
                    {{> partials/completed-project-card }}
                    {{> partials/completed-project-card }}
                    {{> partials/completed-project-card }}
                    {{> partials/completed-project-card }}
                </div>
                <div class="text-center mt-5">
                    <button class="button button_outline col-12 col-md-4">
                        <i class="icon-show-more button__icon"></i>
                        Показать еще
                    </button>
                </div>
            </div>
        </div>
    {{/content}}
{{/extend}}