{{#extend "layouts/default" title="Реализованные проекты"}}
    {{#content "page"}}
        <div class="completed-projects">
            <div class="container">
                <ul class="breadcrumbs">
                    <li class="breadcrumbs__item"><a href="/" class="breadcrumbs__link">
                        Главная
                    </a></li>
                    <li class="breadcrumbs__item">
                        <a href="/about-company" class="breadcrumbs__link">
                        О компании
                    </a>
                    </li>
                    <li class="breadcrumbs__item">Реализованные проекты</li>
                </ul>
                <h1>
                    Построенные дома
                </h1>
                <div class="row mb-5">
                    <div class="col-lg-8"><p>
                        Каким бы красивым ни был проект дома, только умелые рабочие руки и контроль руководителя
                        строительства приведут к ожидаемому результату. Наши бригады соблюдают технологии
                        строительства
                        и регулярно
                        проходят повышение квалификации. Мы гордимся своим портфолио и всегда готовы показать
                        реальные
                        объекты
                    </p></div>
                </div>
                <div class="row completed-projects__filters">
                    <div class="col-lg-9 col-3">
                        <div class="completed-projects__filters-group d-none d-lg-grid">
                            <select class="form-select mb-3">
                                <option selected disabled>Выберите район</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                            <select class="form-select mb-3">
                                <option selected disabled>Площадь, м2</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                            <select class="form-select mb-3">
                                <option selected disabled>Кол-во спален</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                            <select class="form-select mb-3">
                                <option selected disabled>Кол-во этажей</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                        <button class="button p-1 d-block d-lg-none button_gray">
                            <img src="/assets/images/icons/filter.svg" />
                        </button>
                    </div>
                    <div class="col-lg-3 col-9 text-lg-end">
                        <button class="button button_gray">
                            Смотреть на карте
                            <i class="icon-location-pin button__icon button__icon_right"></i>
                        </button>
                    </div>
                </div>
                <div class="completed-projects__cards">
                    {{> partials/completed-project-card }}
                    {{> partials/completed-project-card }}
                    {{> partials/completed-project-card }}
                    {{> partials/completed-project-card }}
                    {{> partials/completed-project-card }}
                    {{> partials/completed-project-card }}
                </div>
                <div class="text-center mt-5">
                    <button class="button button_outline col-12 col-md-4">
                        <i class="icon-show-more button__icon"></i>
                        Показать еще
                    </button>
                </div>
            </div>
        </div>
    {{/content}}
{{/extend}}
