.certifications {
    .certifications__column {
        margin-bottom: 32px;
    }

    .certifications__img-wrap {
        background: white;
        padding: 8px;
        border-radius: 5px;
        border: 1px solid $border-color;

        img {
            width: 100%;
        }
    }
}
