.certifications {
    margin: 45px 0 60px;
    @include media-breakpoint-down(md) {
        margin: $page-content-margin-sm;
    }

    .certifications__title {
        margin-bottom: 38px;
    }

    .certifications__column {
        margin-bottom: 32px;
    }

    .certifications__img-wrap {
        background: white;
        padding: 8px;
        border-radius: 5px;
        border: 1px solid $border-color;

        img {
            width: 100%;
        }
    }
}
