.partners {
    .partners__img-wrap {
        background: white;
        margin-top: 32px;
        border-radius: 5px;
        border: 1px solid $border-color;
        padding: 8px;

        img {
            vertical-align: middle;
            display: block;
            margin: 0 auto;
        }
    }

}
