.review {
    .review__cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px;

        @include media-breakpoint-down(lg) {
            grid-template-columns: 1fr;
        }
    }
}

.review-card {
    height: 100%;
    background: white;
    border-radius: 5px;
    border: 1px solid $border-color;
    padding: 25px;

    @include media-breakpoint-down(md) {
        padding: 15px;
    }

    .review-card__header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 12px;
        align-items: flex-start;

        @include media-breakpoint-down(xl) {
            grid-template-columns: 1fr;
        }

        .review-card__title {
            font-size: 18px;
        }

        .review-card__header-links {
            text-align: right;
            line-height: 130%;
            font-size: 12px;
            display: grid;
            grid-auto-flow: row;
            grid-gap: 5px;

            @include media-breakpoint-down(xl) {
                text-align: left;
            }
        }
    }

    .review-card__info {
        font-size: 14px;
        line-height: 130%;
        margin-bottom: 22px;

        span {
            font-weight: bold;
            font-size: 18px;
            color: $primary;
        }
    }

    hr {
        margin-top: 0;
    }

    .review-card__text {
        margin-bottom: 18px;
        font-size: 14px;
        line-height: 20px;
    }
}

.review-card-video {
    position: relative;
    width: 100%;
    border-radius: 5px;

    .review-card-video__video {
        filter: brightness(60%);
        background: url("/assets/images/site/reviews/review.png") center no-repeat;
        background-size: cover;
        height: 350px;

        @include media-breakpoint-down(md) {
            height: 250px;
        }
    }

    .review-card-video__icon {
        color: white;
        opacity: 0.5;
        font-size: 64px;
        position: absolute;
        top: 50%;
        right: 0;
        left: 0;
        text-align: center;
        transform: translate(0, -50%);
        cursor: pointer;

        &:hover {
            opacity: 1;
        }
    }
}
