{{#extend "layouts/default" title="Инженерия"}}
    {{#content "page"}}
        <div class="engineering">
            <div class="container">
                <h1>
                    Инженерия
                </h1>
                <div class="row">
                    <div class="col-lg-8 order-1 order-lg-0">
                        <div class="engineering__top"><p>
                            Планируя переезд за город или строительство дачного дома для сезонного отдыха, следует
                            позаботиться о комфорте и безопасности вашего будущего жилища. Жить в доме, где нет
                            канализации или водопровода неприятно, а без отопления в холодное время года — и вовсе
                            невозможно при нашем климате. Можно построить пустую коробку из крыши и стен, но назвать
                            ее
                            домом нельзя.
                        </p>
                            <p>
                                В компании «Frame House» мы строим дома для комфортной жизни. Дома, в которые
                                приятно
                                вернуться в конце рабочего дня, в которых можно просто отдохнуть и сосредоточиться
                                на
                                действительно важном — на семье, увлечениях, а не думать о том, что где-то протекает
                                труба
                                или закоротило проводку. Поэтому работа с инженерными коммуникациями начинается с
                                момента
                                начала проектирования и заканчивается, когда вы получаете ключи от готового дома, в
                                который
                                можно вселяться и жить.
                            </p></div>
                        <div class="engineering__bottom"><h3 class="text-primary">
                            Основные виды коммуникационных систем
                        </h3>
                            <div class="systems">
                                <div class="systems__card"><img src="/assets/images/site/engineering/water.jpg" alt
                                                                class="systems__card-img">
                                    <div class="systems__card-title">
                                        Водоснабжение
                                    </div>
                                </div>
                                <div class="systems__card"><img src="/assets/images/site/engineering/sewerage.jpg" alt
                                                                class="systems__card-img">
                                    <div class="systems__card-title">
                                        Канализация
                                    </div>
                                </div>
                                <div class="systems__card"><img src="/assets/images/site/engineering/heating.jpg" alt
                                                                class="systems__card-img">
                                    <div class="systems__card-title">
                                        Отопление
                                    </div>
                                </div>
                                <div class="systems__card"><img src="/assets/images/site/engineering/power.jpg" alt
                                                                class="systems__card-img">
                                    <div class="systems__card-title">
                                        Электроснабжение
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 order-0 order-lg-1"><img src="/assets/images/site/engineering/engineering.jpg"
                                                                  alt
                                                                  class="d-lg-block d-none w-100"> <img
                            src="/assets/images/site/engineering/engineering-sm.jpg" alt
                            class="d-lg-none d-block w-100">
                    </div>
                </div>
            </div>
        </div>
    {{/content}}
{{/extend}}
