.file-input {
    text-decoration: underline;
    position: relative;
    padding-left: 30px;
    font-size: 14px;
    color: $gray;

    &:hover {
        cursor: pointer;
        color: $primary;
    }

    &:before {
        content: '';
        width: 24px;
        height: 24px;
        display: block;
        background: url("/assets/images/icons/common/attachment.svg") no-repeat center;
        position: absolute;
        left: 0;
    }
}

.file-input__btn {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.input {
    background: none;
    font-size: 14px;
    position: relative;
    //padding-top: 5px;
}

.input__input {
    background: none;
    outline: none !important;
    border: 1px solid $gray;
    color: $dark;
    appearance: none;
    font: $base-font;
    width: 100%;
    height: 48px;
    padding: 12px 16px;
    border-radius: 5px;

    &:focus {
        border: 1px solid $primary;
        //height: 41px;
        //margin-bottom: -1px;
    }

    &::placeholder {
        font-size: 14px;
        color: $gray;
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0 30px white inset !important;
        font: $base-font !important;
    }
}

.input__label {
    margin-bottom: 0;
    display: inline-flex;
    white-space: nowrap;
    width: 100%;
    color: $gray;
    position: absolute;
    left: 0;
    top: 10px;
    transition: all .1s linear;
    cursor: text;
    pointer-events: none;
}

.input__input:focus, .input__input_filled, {
    & + .input__label {
        font-size: 12px;
        top: -4px;
    }
}

.input__input_error {
    border-bottom: 2px solid $danger;
    height: 41px;
    margin-bottom: -1px;
}

.input__show-password {
    font-size: 25px;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    height: 24px;
    margin: auto;
    cursor: pointer;
    opacity: 0.5;

    &:hover {
        opacity: 1;
    }
}


@supports (--css: variables) {
	input[type="range"].multirange {
		padding: 0;
		margin: 17px 0 17px 0;
		display: inline-block;
		vertical-align: top;
	}
		input[type="range"].multirange::-moz-range-thumb {
			transform: scale(1); /* FF doesn't apply position it seems */
		}

	input[type="range"].multirange.original {
		position: absolute;
	}

		input[type="range"].multirange.original::-webkit-slider-thumb {
			position: relative;
			z-index: 2;
		}

		input[type="range"].multirange.original::-moz-range-thumb {
			z-index: 2;
		}

		input[type="range"].multirange::-moz-range-track {
			border-color: transparent; /* needed to switch FF to "styleable" control */
		}

	input[type="range"].multirange.middle {
		position: absolute;
		-webkit-appearance: none;
	}
		input[type="range"].multirange.middle:focus {
			outline: none;
		}
		input[type="range"].multirange.middle::-moz-range-thumb {
			position: relative;
			z-index: 1;
			height: 9px;
			width: var(--size);
			margin-top: 6px;
			margin-bottom: 6px;
			background: transparent;
			cursor: pointer;
			border: 0;
		}
		input[type="range"].multirange.middle::-webkit-slider-thumb {
			position: relative;
			z-index: 1;
			height: 9px;
			width: var(--size);
			margin-top: 6px;
			margin-bottom: 6px;
			background: transparent;
			-webkit-appearance: none;
			cursor: pointer;
		}

	input[type="range"].multirange.ghost {
		position: relative;
		background: var(--track-background);
		--track-background: linear-gradient(to right,
				transparent var(--low), var(--range-color) 0,
				var(--range-color) var(--high), transparent 0
			) no-repeat 100% 0% / 99% 100%;
		--range-color: #821E27;
	}

		input[type="range"].multirange.ghost::-webkit-slider-runnable-track {
			background: var(--track-background);
		}

		input[type="range"].multirange.ghost::-moz-range-track {
			background: var(--track-background);
		}
		input[type="range"].multirange.ghost::-webkit-slider-thumb {
			position: relative;
			z-index: 2;

		}
		input[type="range"].multirange.ghost::-moz-range-thumb {
			z-index: 2;
		}
}

/* IE */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {

	input[type="range"].multirange {
		padding: 0;
		vertical-align: top;
	}
		input[type="range"].multirange::-ms-track {
			color: transparent; /* Hide tick marks */
			background: transparent;
			border: 0;
		}
		input[type="range"].multirange::-ms-fill-lower {
			background: transparent;
		}
		input[type="range"].multirange::-ms-fill-upper {
			background: transparent;
		}

	input[type="range"].multirange.original {
		position: absolute;
	}
		input[type="range"].multirange.original::-ms-track {
			background: #821E27;
		}
		input[type="range"].multirange.original::-ms-fill-lower {
			background: #ddd;
		}

	input[type="range"].multirange.middle {
		position: absolute;
	}

	input[type="range"].multirange.ghost {
		position: relative;
	}
		input[type="range"].multirange.ghost::-ms-fill-upper {
			background: #ddd;
		}

	/* Switch colors when inputs are switched, see JavaScript */

	input[type="range"].multirange.switched.original::-ms-fill-lower {
		background: transparent;
	}
	input[type="range"].multirange.switched.original::-ms-fill-upper {
		background: #ddd;
	}

	input[type="range"].multirange.switched.ghost::-ms-fill-upper {
		background: transparent;
	}
	input[type="range"].multirange.switched.ghost::-ms-fill-lower {
		background: #ddd;
	}
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type='range'] {
      /* overflow: hidden; */
      /* width: 80px; */
      -webkit-appearance: none;
      background-color: #acacac;
        border-radius: 5px;
    }

    input[type='range']::-webkit-slider-runnable-track {
      height: 6px;
      -webkit-appearance: none;
      color: #821E27;
      margin-top: -1px;
    }

    input[type='range']::-webkit-slider-thumb {
      width: 36px;
      -webkit-appearance: none;
      height: 36px;
      border: 1px solid #E5E5E5;
      top: -16px;
      border-radius: 50%;
      cursor: ew-resize;
      background: white;
      /* box-shadow: -80px 0 0 80px #acacac; */
    }

}
/** FF*/
input[type="range"]::-moz-range-progress {
  background-color: #f74343;
}
input[type="range"]::-moz-range-track {
  background-color: #d6b50d;
}
/* IE*/
 input[type="range"]::-ms-fill-lower {
  background-color: #0b3a3f;
}
input[type="range"]::-ms-fill-upper {
  background-color: #9a905d;
}
