{{#extend "layouts/default" title="Технологии"}}
    {{#content "page"}}
        <div>
            <div class="container">
                <h1>
                    Технологии
                </h1>
                <ul class="nav nav-pills nav-pills_outline nav-pills_small mb-5" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" data-bs-toggle="pill"
                                data-bs-target="#tab1" type="button" role="tab"
                                aria-selected="true">
                            Конструкция пола первого этажа
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" data-bs-toggle="pill"
                                data-bs-target="#tab2" type="button" role="tab"
                                aria-selected="false">
                            Конструкция межэтажного перекрытия
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" data-bs-toggle="pill"
                                data-bs-target="#tab3" type="button" role="tab"
                                aria-selected="false">
                            Конструкция наружных стен
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" data-bs-toggle="pill"
                                data-bs-target="#tab4" type="button" role="tab"
                                aria-selected="false">
                            Конструкция перегородок
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" data-bs-toggle="pill"
                                data-bs-target="#tab5" type="button" role="tab"
                                aria-selected="false">
                            Конструкция кровли под ондулин
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" data-bs-toggle="pill"
                                data-bs-target="#tab6" type="button" role="tab"
                                aria-selected="false">
                            Конструкция кровли под металлочерепицу
                        </button>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="tab1" role="tabpanel">
                        1
                    </div>
                    <div class="tab-pane fade" id="tab2" role="tabpanel">
                        2
                    </div>
                    <div class="tab-pane fade" id="tab3" role="tabpanel">
                        3
                    </div>
                    <div class="tab-pane fade" id="tab4" role="tabpanel">
                        4
                    </div>
                    <div class="tab-pane fade" id="tab5" role="tabpanel">
                        5
                    </div>
                    <div class="tab-pane fade" id="tab6" role="tabpanel">
                        6
                    </div>
                </div>
            </div>
        </div>
    {{/content}}
{{/extend}}
