<div class="blog-card {{ class }}">
    <a class="blog-card__img-wrap" href="/blog/article">
        <img src="/assets/images/site/blog/man-insulate.jpg" alt class="blog-card__img">
    </a>
    <div class="blog-card__content">
        <a class="blog-card__title" href="/blog/article">
            Как утеплить дачный дом?
        </a>
        <div class="blog-card__text">
            Дачный дом – это место, где собирается вся семья в любое время года. Плохая
            утепленность
            строения слабо ощущается летом или поздней весной. Зато зимой, слабая утепленность
            может
            отразиться не только на здоровье ....
        </div>
        <a href="/blog/article" class="link link_gray link_lined">
            <i class="icon-article link__icon"
            ></i>Читать статью</a></div>
</div>