<a class="certificate-card glightbox" href="/assets/images/site/certifications/certificate.jpg">
    <img class="certificate-card__img" src="/assets/images/site/certifications/certificate.jpg" alt="image" />
</a>