<a class="certificate-card glightbox" href="/assets/images/site/certifications/certificate.webp">
    <img class="certificate-card__img" src="/assets/images/site/certifications/certificate.webp" alt="image" />
</a>