<div class="completed-project-card">
    <div class="completed-project-card__label">
        Готовый проект
    </div>
    <div class="completed-project-card__attrs">
        <div class="completed-project-card__attr">
            <i class="completed-project-card__attr-icon icon-area"></i>
            <span class="completed-project-card__attr-value">
                152 м2
            </span>
            <small class="completed-project-card__attr-label">
                общая площадь
            </small>
        </div>
        <div class="completed-project-card__attr">
            <i class="completed-project-card__attr-icon icon-room"></i>
            <span class="completed-project-card__attr-value">
                3
            </span>
            <small class="completed-project-card__attr-label">
                кол-во спален
            </small>
        </div>
        <div class="completed-project-card__attr">
            <i class="completed-project-card__attr-icon icon-floors"></i>
            <span class="completed-project-card__attr-value">
                1
            </span>
            <small class="completed-project-card__attr-label">
                кол-во этажей
            </small>
        </div>
    </div>
    <img src="/assets/images/site/completed-projects/completed-house.jpg" alt>
    <div class="completed-project-card__footer">
        <i class="completed-project-card__attr-icon icon-location-pin mx-3"></i>
        Ленинградская область,
        Всеволожский муниципальный район
    </div>
</div>