<footer class="footer">
    <div class="container">
        <div class="footer__top">
            <div class="row gy-lg-0 gy-4 text-lg-start text-center">
                <div class="col-lg-3"><a href="/" aria-current="page"
                                         class=""
                ><img
                        src="/assets/images/footer/logo-footer.svg" alt=""></a>
                    <div class="footer__contacts"><a href="#"
                                                     class="footer__contacts-link link link_light"
                    ><i
                            class="icon-location"></i>
                        Санкт-Петербург,
                        ул. Белоостровская, 37
                    </a> <a href="tel:+7(812)-123-45-67" class="footer__contacts-link link link_light"
                    ><i class="icon-phone"></i>
                        +7 (812) 123 45 67
                    </a> <a href="mailto:info@company.ru" class="footer__contacts-link link link_light"
                    ><i class="icon-mail"></i>
                        info@company.ru
                    </a></div>
                </div>
                <div class="col-lg-2 col-6 d-none d-sm-block">
                    <div class="footer__group">
                        <div class="footer__group-title">
                            О компании
                        </div>
                        <a href="/about-company/services" aria-current="page"
                           class="footer__group-link"
                        >
                            Услуги
                        </a> <a href="/about-company/certifications" aria-current="page"
                                class="footer__group-link"
                    >
                        Сертификаты
                    </a> <a href="/about-company/reviews" aria-current="page"
                            class="footer__group-link"
                    >
                        Отзывы
                    </a> <a href="/about-company/partners" aria-current="page"
                            class="footer__group-link"
                    >
                        Партнеры
                    </a></div>
                </div>
                <div class="col-lg-2 col-6 d-none d-sm-block">
                    <div class="footer__group">
                        <div class="footer__group-title">
                            Клиенту
                        </div>
                        <a href="/for-client/documentation" aria-current="page"
                           class="footer__group-link"
                        >
                            Доставка
                        </a> <a href="/for-client/guarantee" aria-current="page"
                                class="footer__group-link"
                    >
                        Гарантии
                    </a> <a href="/for-client/faq" aria-current="page"
                            class="footer__group-link"
                    >
                        Вопросы и ответы
                    </a> <a href="/for-client/technologies" aria-current="page"
                            class="footer__group-link"
                    >
                        Технологии
                    </a> <a href="/for-client/documentation" aria-current="page"
                            class="footer__group-link"
                    >
                        Документации
                    </a></div>
                </div>
                <div class="col-lg-2 col-6 d-none d-sm-block">
                    <div class="footer__group">
                        <div class="footer__group-title">
                            Цены
                        </div>
                        <a href="/prices/loan" aria-current="page"
                           class="footer__group-link"
                        >
                            Кредит
                        </a> <a href="/prices/maternal-capital" aria-current="page"
                                class="footer__group-link"
                    >
                        Маткапитал
                    </a></div>
                </div>
                <div class="col-lg-3 col-6 d-none d-sm-block">
                    <div class="footer__other"><a href="/projects" aria-current="page"
                                                  class="footer__other-link"
                    >
                        Проекты
                    </a> <a href="/about-company/completed-projects" aria-current="page"
                            class="footer__other-link"
                    >
                        Реализованные проекты
                    </a> <a href="/blog" aria-current="page"
                            class="footer__other-link"
                    >
                        Блог
                    </a> <a href="/promotions" aria-current="page"
                            class="footer__other-link"
                    >
                        Акции
                    </a> <a href="/contacts" aria-current="page"
                            class="footer__other-link"
                    >
                        Контакты
                    </a></div>
                </div>
            </div>
        </div>
        <div class="footer__bottom">
            <div class="row gy-lg-0 gy-3 text-lg-start text-center">
                <div class="col-lg-9 order-lg-0 order-1">
                    © 2002 - 2021 Frame House
                </div>
                <div class="col-lg-3 order-lg-1 order-0"><a href="/" aria-current="page"
                                                            class="footer__bottom-privacy"
                >
                    Политика конфиденциальности
                </a></div>
            </div>
        </div>
    </div>
</footer>