<a href="/projects/project" class="house-project-card"><img
        src="/assets/images/site/catalogue/item.png" alt="item" class="mb-3">
    <div class="house-project-card__description">
        <div class="mb-3">
            Каркасный дом Проект 345
        </div>
        <div>Площадь: <span>138.2 м<sup
        >2</sup></span>
        </div>
        <div class="d-flex justify-content-between flex-xl-row flex-column"
        >
            <div>Спальных комнат: <span>4</span></div>
            <div>от <span>1 450 000 Р</span></div>
        </div>
    </div>
</a>