<div class="range-inputs">
    <div class="range-inputs__inputs">
        <input class="range-inputs__input" type="number">
        —
        <input class="range-inputs__input" type="number">
    </div>
    <input type="range" multiple value="0,50" />
</div>
