<div class="review-card">
    <div class="review-card__header">
        <div class="review-card__title">
            Каркасный дом по индивидуальному проекту
        </div>

        <div class="review-card__header-links">
            <a href="#" class="link link_gray link_lined">
                Посмотреть реализованный проект
            </a>
            <a href="#" class="link link_gray link_lined">
                Посмотреть проект
            </a>
        </div>
    </div>
    <div class="review-card__info">
        <div>
            Комплектация: <span>под ключ</span></div>
        <div>
            Общая площадь: <span>192 м2</span></div>
    </div>
    <div class="review-card-video">
        <div class="review-card-video__video"></div>
        <i class="icon-play review-card-video__icon"></i>
    </div>
</div>