.engineering {
    img {
        border-radius: 5px;
        @include media-breakpoint-down(lg) {
            margin-bottom: 32px;
        }
    }

    .engineering__top {
        margin-bottom: 114px;

        @include media-breakpoint-down(xl) {
            margin-bottom: 64px;
        }
    }

    .systems {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 30px;

        @include media-breakpoint-down(xl) {
            grid-template-columns: 1fr 1fr 1fr;
        }

        @include media-breakpoint-down(md) {
            grid-template-columns: 1fr 1fr;
            grid-gap: 4px;
        }
    }

    .systems-card {
        text-align: center;

        .systems-card__img-wrap {
            position: relative;
            padding-top: 70%;
        }

        .systems-card__img {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }

        .systems-card__title {
            font-weight: 600;
            @include media-breakpoint-down(sm) {
                font-size: 12px;
            }
        }
    }

}
