.guarantee {

    img {
        border-radius: 5px;
        @include media-breakpoint-down(lg) {
            margin-bottom: 32px;
        }
    }

    .guarantee__text {
        margin-bottom: 64px;

        &:last-of-type {
            margin-bottom: 50px;
            @include media-breakpoint-down(sm) {
                margin-bottom: 32px;
            }
        }
    }
}
