{{#extend "layouts/default" title="Проекты"}}
    {{#content "page"}}
        <div class="catalogue">
            <div class="container">
                <ul class="breadcrumbs">
                    <li class="breadcrumbs__item"><a href="/" class="breadcrumbs__link">
                        Главная
                    </a></li>
                    <li class="breadcrumbs__item">
                        Проекты
                    </li>
                </ul>
                <div class="d-flex justify-content-between align-items-center mb-4">
                    <h1 class="m-0">
                        Проекты
                    </h1>
                    <div class="catalogue__carcass">
                        <a href="/">Подробнее о каркасной <br>технологии</a>
                        <img src="/assets/images/site/catalogue/carcass.jpg" alt>
                    </div>
                </div>
                <div class="catalogue__layout clearfix">
                    <div class="catalogue__filter filter">
                        <div class="filter__header">
                            <img src="/assets/images/icons/filter.svg" role="button" alt="Фильтр"
                                 class="filter__icon"
                                 data-bs-toggle="modal" data-bs-target="#filter-modal"
                            />
                            <span class="d-none d-lg-inline-block">Фильтр по параметрам</span>
                            <select class="form-select ms-auto d-lg-none">
                                <option selected disabled>по цене</option>
                                <option value="1">по площади</option>
                                <option value="2">по количеству комнат</option>
                            </select>
                        </div>
                        <div class="filter__body">
                            <div class="mb-2">
                                Стоимость строительства, руб
                            </div>
                            {{> partials/range-inputs min="1500000" max="65000000"}}
                            <hr>
                            <div class="input">
                                <div class="mb-2">
                                    Площадь, м2
                                </div>
                                {{> partials/range-inputs min="65" max="1000" }}
                            </div>
                            <hr>
                            <div class="mb-2">
                                Количество этажей
                            </div>
                            <div class="filter__checkpoints">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox"
                                           name="flexRadioDefault"
                                           id="floor1">
                                    <label class="form-check-label" for="floor1">
                                        1
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox"
                                           name="flexRadioDefault"
                                           id="floor2">
                                    <label class="form-check-label" for="floor2">
                                        2
                                    </label>
                                </div>
                            </div>
                            <hr>
                            <div class="mb-2">
                                Количество спален
                            </div>
                            <div class="filter__checkpoints">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox"
                                           name="flexRadioDefault"
                                           id="rooms1">
                                    <label class="form-check-label" for="rooms1">
                                        1
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox"
                                           name="flexRadioDefault"
                                           id="rooms2">
                                    <label class="form-check-label" for="rooms2">
                                        2
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox"
                                           name="flexRadioDefault"
                                           id="rooms3">
                                    <label class="form-check-label" for="rooms3">
                                        3
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox"
                                           name="flexRadioDefault"
                                           id="rooms4">
                                    <label class="form-check-label" for="rooms4">
                                        4
                                    </label>
                                </div>
                            </div>
                            <button class="button button_primary text-uppercase w-100 mt-3">
                                Применить
                            </button>
                        </div>
                        {{> partials/filter-modal }}
                    </div>
                    <div class="catalogue__promos">
                        <div class="item-promo">
                            Скидка 7% <br>до конца июля
                            <span class="item-promo__box"></span> <span class="item-promo__percent">%</span>
                        </div>
                        <div class="item-promo">
                            Скидка 7% <br>до конца июля
                            <span class="item-promo__percent_right">%</span>
                        </div>
                    </div>
                    <div class="catalogue__cards">
                        {{> partials/house-project-card }}
                        {{> partials/house-project-card }}
                        {{> partials/house-project-card }}
                        {{> partials/house-project-card }}
                        {{> partials/house-project-card }}
                    </div>
                    <form class="catalogue__calculate-project calculate-project" method="POST" action="">
                        <h2 class="calculate-project__title">
                            Расчет стоимости проекта
                        </h2>
                        <input placeholder="Номер телефона" class="form-control mb-3"
                               type="tel"
                               data-mask="+{7}(000)000-00-00">
                        <div class="file-input mb-4">
                            <label for="upload-photo" class="file-input__label">
                                <i class="icon-clip"></i>Прикрепите файл проекта
                            </label>
                            <input id="upload-photo" type="file" class="file-input__input">
                        </div>
                        <button type="submit" class="button w-100 mb-3 button_primary text-uppercase">
                            Рассчитать проект
                        </button>
                        <p class="catalogue__terms">
                            Нажимая на кнопку "Рассчитать проект" Вы соглашаетесь на
                            обработку персональных данных в соответствии с условиями
                            <a href="#">политики конфиденциальности</a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    {{/content}}
{{/extend}}
