{{#extend "layouts/default" title="Контакты"}}
    {{#content "page"}}
        <div class="project">
            <div class="container">
                <div class="project-block__card project__project-block">
                    <div class="row">
                        <div class="col-lg-8">
                            <h2 class="text-start mb-4">
                                Каркасный дом Проект 345 </h2>
                            <img src="/assets/images/site/project/house.jpg" alt=""
                                 class="project-block__card-img mb-4 mb-lg-0"
                            />
                        </div>
                        <div class="col-lg-4">
                            <div class="project-block__card-info">
                                <div class="project-block__card-info-top">
                                    Проект реализован 17 раз
                                    <button class="button">
                                        <i class="icon-like"></i>
                                    </button>
                                    <button class="button">
                                        <i class="icon-print"></i>
                                    </button>
                                </div>
                                <ul class="project-block__card-info-advantages mb-4">
                                    <li>
                                        <i class="icon-videocamera"></i> Видеонаблюдение 24/7 за процессом стройки
                                        вашего дома
                                    </li>
                                    <li>
                                        <i class="icon-money"></i> Работаем без предоплаты
                                    </li>
                                </ul>
                                <div class="project-block__card-info-item mb-2">
                                    <h5 class="mb-2">
                                        Общая информация </h5>
                                    <div class="row">
                                        <div class="col-6 mb-3">
                                            <div class="project-block__card-info-label">
                                                Площадь
                                            </div>
                                            <span>154,2 м2</span>
                                        </div>
                                        <div class="col-6 mb-3">
                                            <div class="project-block__card-info-label">
                                                Размеры
                                            </div>
                                            <span>10х13</span>
                                        </div>
                                        <div class="col-6 mb-3">
                                            <div class="project-block__card-info-label">
                                                Этажей
                                            </div>
                                            <span>2</span>
                                        </div>
                                        <div class="col-6 mb-3">
                                            <div class="project-block__card-info-label">
                                                Высота этажей
                                            </div>
                                            <span>2,80 м | 2,60 м</span>
                                        </div>
                                        <div class="col-6 mb-3">
                                            <div class="project-block__card-info-label">
                                                Спален
                                            </div>
                                            <span>6</span>
                                        </div>
                                        <div class="col-6 mb-3">
                                            <div class="project-block__card-info-label">
                                                Сроки
                                            </div>
                                            <span>25 дней</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="project-block__card-info-item mb-4">
                                    <h5 class="mb-3 d-flex align-items-center justify-content-between gap-2">
                                        Комплектации <a href="#"
                                                        class="link link_gray text-decoration-underline text-end">Подробнее
                                        о
                                        комплектациях</a>
                                    </h5>
                                    <div class="project-block__card-info-btns">
                                        <button class="button button_outline">
                                            Под ключ
                                        </button>
                                        <button class="button button_outline">
                                            Закрытый контур
                                        </button>
                                        <button class="button button_outline">
                                            Силовой каркас
                                        </button>
                                    </div>
                                </div>
                                <div class="project-block__card-info-item project-block__card-info-price mb-4">
                                    <div>
                                        <h5 class="mb-0">
                                            Стоимость дома </h5>
                                        <div class="project-block__card-info-price-text">
                                            Комплектация "Под ключ"
                                        </div>
                                    </div>
                                    <strong> 1 425 000 Р </strong>
                                </div>
                                <button class="button w-100 button_primary">
                                    ОСТАВИТЬ ЗАЯВКУ
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="project__gifts">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="project__gifts-group">
                                <div class="project__gifts-text">
                                    <h3 class="text-primary mb-2">
                                        Дарим подарки всем </h3>
                                    Предоставляем возможность получить любой подарок при заключении договора на
                                    строительство
                                </div>
                                <ul class="project__gifts-list">
                                    <li>3% скидка от стоимости договора</li>
                                    <li>
                                        Каркас из сухой, строганной доски
                                    </li>
                                    <li>
                                        Дополнительное перекрестные утепление
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <img src="/assets/images/site/project/present.png" alt />
                        </div>
                    </div>
                </div>
                <div class="project__description">
                    <div class="row">
                        <div class="col-lg-8">
                            <h2 class="mb-4">
                                Описание и характеристики проекта </h2>
                            <p>
                                Проект одноэтажного загородного дома c тщательно продуманной планировкой позволит
                                жильцам
                                использовать каждый метр с максимальной отдачей. Дом рассчитан на круглогодичное
                                проживание
                                семьи 3-4 человек, с просторной кухней-гостиной, отдельными комнатами, террасой и
                                тамбуром. Этот
                                деревянный дом идеально подойдет для тех, кто ценит комфорт и свободное пространство: 4
                                комнаты,
                                санузел, гардероб и техническое помещение (котельную). Одну из комнат можно
                                использовать, как
                                гостевую спальню или рабочий кабинет. </p>
                            <p>
                                Архитектуру дома отличают большие панорамные окна, которые помогают решить проблему
                                естественного освещения и экономить ресурсы. Вашим гостям будет удобно расположиться на
                                диванах
                                у камина, вокруг большого стола, а летом вы можете устроить праздник под открытым небом.
                                Большая
                                терраса вместит всех – она обязательно станет любимым местом и для ваших детей. Перед
                                террасой
                                удобно установить детскую площадку или бассейн. Дети будут под присмотром </p>
                        </div>
                    </div>
                </div>
                <div class="project-plan">
                    <div class="row">
                        <div class="col-lg-5 order-1 order-lg-0">
                            <div class="project-plan__top">
                                <div class="project-plan__top-item">
                                    <div class="project-plan__top-label">
                                        Высота стен
                                    </div>
                                    <strong> 3.1/2.6 </strong>
                                </div>
                                <div class="project-plan__top-item">
                                    <div class="project-plan__top-label">
                                        Габариты
                                    </div>
                                    <strong> 10.0 х 13.0 </strong>
                                </div>
                                <div class="project-plan__top-item">
                                    <div class="project-plan__top-label">
                                        Общая площадь
                                    </div>
                                    <strong> 150.6 м2 </strong>
                                </div>
                            </div>
                            <ul class="nav nav-pills nav-pills_outline nav-pills_small mb-5" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" data-bs-toggle="pill"
                                            data-bs-target="#tab1" type="button" role="tab"
                                            aria-selected="true"
                                    >
                                        1 этаж
                                    </button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" data-bs-toggle="pill"
                                            data-bs-target="#tab2" type="button" role="tab"
                                            aria-selected="false"
                                    >
                                        2 этаж
                                    </button>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="tab1" role="tabpanel">
                                    <div class="project-plan-tab__content-title">
                                        Площадь 1 этажа <strong> 73.4 м2 </strong>
                                    </div>
                                    <ul class="project-plan-tab__content-list">
                                        <li>
                                            Прихожая <strong> 8.36 м2 </strong>
                                        </li>
                                        <li>
                                            Кладовая <strong> 4.95 м2 </strong>
                                        </li>
                                        <li>
                                            Гардероб <strong> 3.29 м2 </strong>
                                        </li>
                                        <li>
                                            Санузел <strong> 3.77 м2 </strong>
                                        </li>
                                        <li>
                                            Кухня гостинная <strong> 21.4 м2 </strong>
                                        </li>
                                        <li>
                                            Спальня <strong> 13.3 м2 </strong>
                                        </li>
                                        <li>
                                            Котельная <strong> 4.92 м2 </strong>
                                        </li>
                                    </ul>
                                </div>
                                <div class="tab-pane fade" id="tab2" role="tabpanel">
                                    <div class="project-plan-tab__content-title">
                                        Площадь 2 этажа <strong> 71.4 м2 </strong>
                                    </div>
                                    <ul class="project-plan-tab__content-list">
                                        <li>
                                            Прихожая <strong> 8.36 м2 </strong>
                                        </li>
                                        <li>
                                            Кладовая <strong> 4.95 м2 </strong>
                                        </li>
                                        <li>
                                            Гардероб <strong> 3.29 м2 </strong>
                                        </li>
                                        <li>
                                            Санузел <strong> 3.77 м2 </strong>
                                        </li>
                                        <li>
                                            Кухня гостинная <strong> 21.4 м2 </strong>
                                        </li>
                                        <li>
                                            Спальня <strong> 13.3 м2 </strong>
                                        </li>
                                        <li>
                                            Котельная <strong> 4.92 м2 </strong>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7 order-0 order-lg-1">
                            <h3 class="d-block d-lg-none">
                                Планировочные решения </h3>
                            <img src="/assets/images/site/documentation/doc.png" alt />
                        </div>
                    </div>
                </div>
                <div class="project-variants">
                    <h2>Варианты комплектаций </h2>
                    <ul class="nav nav-pills nav-pills_outline nav-pills_small mb-5" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" data-bs-toggle="pill"
                                    data-bs-target="#complect1" type="button" role="tab"
                                    aria-selected="true"
                            >
                                Под ключ
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" data-bs-toggle="pill"
                                    data-bs-target="#complect2" type="button" role="tab"
                                    aria-selected="true"
                            >
                                Закрытый контур
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" data-bs-toggle="pill"
                                    data-bs-target="#complect3" type="button" role="tab"
                                    aria-selected="true"
                            >
                                Силовой каркас
                            </button>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="complect1" role="tabpanel">
                            <div class="row project-variants__row">
                                <div class="project-variants-tab__content col-12 col-xl-7 mb-5 mb-xl-0">
                                    <div class="project-variants-tab__list">
                                        <div class="project-variants-tab__list-item">
                                            <div class="project-variants-tab__list-number">
                                                01
                                            </div>
                                            <div class="project-variants-tab__list-text">
                                                Фундамент свайный 2.5 м. бетон, механизированный способ монтажа
                                            </div>
                                        </div>
                                        <div class="project-variants-tab__list-item">
                                            <div class="project-variants-tab__list-number">
                                                02
                                            </div>
                                            <div class="project-variants-tab__list-text">
                                                Дом - все пиломатериалы сухие заводской сушки: каркас дома 200 мм
                                                перекрестный +
                                                ОСП 9мм E1 + обрешетка, перекрытия - 200х40, крыша 200 мм + обрешеткой +
                                                контр.обр., технологии вентилируемая кровля и фасад, лестница
                                            </div>
                                        </div>
                                        <div class="project-variants-tab__list-item">
                                            <div class="project-variants-tab__list-number">
                                                03
                                            </div>
                                            <div class="project-variants-tab__list-text">
                                                Покрытие кровли металлочерепица GL PE 0,5 с карнизными свесами - 500 мм,
                                                подшив
                                                свесов - софиты перфорированные ПВХ Docke вент
                                            </div>
                                        </div>
                                        <div class="project-variants-tab__list-item">
                                            <div class="project-variants-tab__list-number">
                                                04
                                            </div>
                                            <div class="project-variants-tab__list-text">
                                                Тепловой контур - ветро защитные мембраны, паро и гидро изоляция;
                                                утепление -
                                                пол, крыша, стены 200 мм, шумоизоляция - 150 мм, ПВХ окна Rehau Thermo 3
                                                стекла,
                                                отливы и откосы металл, дверь металлическая входная
                                            </div>
                                        </div>
                                        <div class="project-variants-tab__list-item">
                                            <div class="project-variants-tab__list-number">
                                                05
                                            </div>
                                            <div class="project-variants-tab__list-text">
                                                Отделка фасада сайдинг DockePremium, с аксессуарами, цокольный сайдинг
                                            </div>
                                        </div>
                                        <div class="project-variants-tab__list-item">
                                            <div class="project-variants-tab__list-number">
                                                06
                                            </div>
                                            <div class="project-variants-tab__list-text">
                                                Внутренняя отделка - полы фанера 18 мм (ЦСП под плитку во влажных
                                                помещениях);
                                                стены и потолок ГКЛВ 12.5 мм
                                            </div>
                                        </div>
                                        <div class="project-variants-tab__list-item">
                                            <div class="project-variants-tab__list-number">
                                                07
                                            </div>
                                            <div class="project-variants-tab__list-text">
                                                Инженерные коммуникации - вентиляция с выводом через крышу вытяжная,
                                                ввод
                                                коммуникаций - септик, вода, электричество
                                            </div>
                                        </div>
                                    </div>
                                    <div class="project-variants-tab__footer">
                                        <div class="project-variants-tab__footer-price">
                                            Стоимость <strong> 1 425 000 Р </strong>
                                        </div>
                                        <div class="project-variants-tab__footer-btns">
                                            <button class="button button_primary">
                                                <i class="icon-adobe"></i> Скачать смету
                                            </button>
                                            <button class="button button_dark">
                                                <i class="icon-edit"></i> Модифицировать комплектацию
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="project-variants__form col-12 offset-xl-1 col-xl-4">
                                    <form class="form">
                                        <h4 class="text-primary mb-4 text-center">
                                            Мне понравился проект, но хочу внести изменения </h4>
                                        <div class="form-check mb-3">
                                            <input class="form-check-input" type="checkbox"
                                                   value="Изменить материал внешней отделки"
                                                   id="square"
                                            >
                                            <label class="form-check-label" for="square">
                                                Увеличить площадь
                                            </label>
                                        </div>
                                        <div class="form-check mb-3">
                                            <input class="form-check-input" type="checkbox"
                                                   value="Изменить материал внешней отделки"
                                                   id="plan"
                                            >
                                            <label class="form-check-label" for="plan">
                                                Сделать перепланировку
                                            </label>
                                        </div>
                                        <div class="form-check mb-3">
                                            <input class="form-check-input" type="checkbox"
                                                   value="Изменить материал внешней отделки"
                                                   id="window"
                                            >
                                            <label class="form-check-label" for="window">
                                                Увеличить окна
                                            </label>
                                        </div>
                                        <div class="form-check mb-3">
                                            <input class="form-check-input" type="checkbox"
                                                   value="Изменить материал внешней отделки"
                                                   id="material"
                                            >
                                            <label class="form-check-label" for="material">
                                                Изменить материал внешней отделки
                                            </label>
                                        </div>
                                        <div class="form-check mb-3">
                                            <input class="form-check-input" type="checkbox"
                                                   value="Добавить или убрать веранду, крыльцо, террасу, балкон"
                                                   id="add"
                                            >
                                            <label class="form-check-label" for="add">
                                                Добавить или убрать веранду, крыльцо, террасу, балкон
                                            </label>
                                        </div>
                                        <div class="form-check mb-3">
                                            <input class="form-check-input" type="checkbox"
                                                   value="Изменить высоту потолков"
                                                   id="Height"
                                            >
                                            <label class="form-check-label" for="Height">
                                                Изменить высоту потолков
                                            </label>
                                        </div>
                                        <div class="input mb-3">
                                            <input class="form-control" type="text" placeholder="Ваше имя">
                                        </div>
                                        <div class="input mb-3">
                                            <input class="form-control" type="text" placeholder="Номер телефона">
                                        </div>
                                        <button class="button w-100 mb-2 button_primary">
                                            ОСТАВИТЬ ЗАЯВКУ
                                        </button>
                                        <div class="form__agreement primary">
                                            Нажимая на кнопку "Оставить заявку" Вы соглашаетесь на обработку
                                            персональных данных
                                            в
                                            соответствии с <a href="#" class="link link_primary"> условиями политики
                                            конфиденциальности </a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade show" id="complect2" role="tabpanel">
                            2
                        </div>
                        <div class="tab-pane fade show" id="complect3" role="tabpanel">
                            3
                        </div>
                    </div>
                </div>
                <div class="table-comparison">
                    <h2>
                        Сравнение комплектаций </h2>
                    <div class="table-comparison__wrap">
                        <table>
                            <thead>
                            <tr>
                                <th class="fz-14 font-weight-medium">
                                    Возможна перепланировка по данному проекту, а также изменение в комплектации
                                </th>
                                <th class="fz-18 text-center">
                                    "Под ключ"
                                </th>
                                <th class="fz-18 text-center">
                                    "Закрытый контур"
                                </th>
                                <th class="fz-18 text-center">
                                    "Силовой каркас"
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="p-0">
                                    Пиломатериал
                                </td>
                                <td class="fz-14">
                                    Строганный камерной сушки/антисептик
                                </td>
                                <td class="fz-14">
                                    Строганный камерной сушки
                                </td>
                                <td class="fz-14">
                                    Строганный камерной сушки
                                </td>
                            </tr>
                            <tr>
                                <td class="p-0">
                                    Основание дома (обвязка)
                                </td>
                                <td class="fz-14">
                                    Брус сечением 145*145 и 45*195 мм
                                </td>
                                <td class="fz-14">
                                    Брус сечением 145*145 и 45*195 мм
                                </td>
                                <td class="fz-14">
                                    Брус сечением 145*145 и 45*195 мм
                                </td>
                            </tr>
                            <tr>
                                <td class="p-0">
                                    Силовые конструкции
                                </td>
                                <td class="fz-14">
                                    Наружные стены: доска 40×200 мм; Перегородки: доска 40×150 мм; Балки перекрытия:
                                    доска
                                    50×200 мм; Стропильная система: доска 50×200 мм
                                </td>
                                <td class="fz-14">
                                    Наружные стены: доска 40×200 мм; Перегородки: доска 40×150 мм; Балки перекрытия:
                                    доска
                                    50×200 мм; Стропильная система: доска 50×200 мм
                                </td>
                                <td class="fz-14">
                                    Наружные стены: доска 40×200 мм; Перегородки: доска 40×150 мм; Балки перекрытия:
                                    доска
                                    50×200 мм; Стропильная система: доска 50×200 мм
                                </td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <td class="fz-18">
                                    Стоимость
                                </td>
                                <td class="text-center">
                                    <strong> 1 425 000 Р </strong>
                                </td>
                                <td class="text-center">
                                    <strong> 1 425 000 Р </strong>
                                </td>
                                <td class="text-center">
                                    <strong> 1 425 000 Р </strong>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div class="table-extra">
                    <h2>Дополнительно </h2>
                    <div class="table-extra__content">
                        <div class="table-extra__row">
                            <div class="table-extra__item">
                                Фундамент
                            </div>
                            <div class="table-extra__item text-center small">
                                Ж/Б сваи
                            </div>
                            <div class="table-extra__item text-end">
                                170 000 рублей
                            </div>
                        </div>
                        <div class="table-extra__row">
                            <div class="table-extra__item">
                                Водосточная система
                            </div>
                            <div class="table-extra__item text-center small">
                                ПВХ Технониколь
                            </div>
                            <div class="table-extra__item text-end">
                                42 000 рублей
                            </div>
                        </div>
                        <div class="table-extra__row">
                            <div class="table-extra__item">
                                Цокольные панели
                            </div>
                            <div class="table-extra__item text-center small">
                                Облицовка фундамента цокольными панелями Docke
                            </div>
                            <div class="table-extra__item text-end">
                                70 000 рублей
                            </div>
                        </div>
                    </div>
                </div>
                <div class="project-promotions">
                    <h2>На этот проект действуют акции </h2>
                    <div class="row gap-3 gap-lg-0">
                        <div class="col-lg-6">
                            <div class="project-promotions__item-left">
                                <h3>Дарим подарки всем</h3>
                                <div>
                                    Предоставляем возможность получить любой подарок при заключении договора на
                                    строительство
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="project-promotions__item-right">
                                <ul class="project-promotions__item-list">
                                    <li>3% скидка от стоимости договора</li>
                                    <li>
                                        Каркас из сухой, строганной доски
                                    </li>
                                    <li>
                                        Дополнительное перекрестные утепление
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="custom-equipment">
                <div class="container">
                    <h2>
                        Сделайте свою комплектацию "под ключ" </h2>
                    <div class="custom-equipment__content">
                        <div class="custom-equipment__item">
                            <img src="/assets/images/site/project/custom1.jpg" alt />
                            <div class="custom-equipment__item-content">
                                <h5>Кровля</h5>
                                <div class="form-check mb-3">
                                    <input class="form-check-input" type="radio"
                                           name="roof"
                                           id="flexible" checked
                                    >
                                    <label class="form-check-label" for="flexible">
                                        Гибкая черепица
                                    </label>
                                </div>
                                <div class="form-check mb-3">
                                    <input class="form-check-input" type="radio"
                                           name="roof"
                                           id="ondulin"
                                    >
                                    <label class="form-check-label" for="ondulin">
                                        Ондулин
                                    </label>
                                </div>
                                <div class="form-check mb-3">
                                    <input class="form-check-input" type="radio"
                                           name="roof"
                                           id="metallo"
                                    >
                                    <label class="form-check-label" for="metallo">
                                        Металлочерепица
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="custom-equipment__item">
                            <img src="/assets/images/site/project/custom2.jpg" alt />
                            <div class="custom-equipment__item-content">
                                <h5>
                                    Дополнительное перекрестное утепление </h5>
                                <div class="form-check mb-3">
                                    <input class="form-check-input" type="radio"
                                           name="insulation"
                                           id="no" checked
                                    >
                                    <label class="form-check-label" for="no">
                                        нет
                                    </label>
                                </div>
                                <div class="form-check mb-3">
                                    <input class="form-check-input" type="radio"
                                           name="insulation"
                                           id="knauf"
                                    >
                                    <label class="form-check-label" for="knauf">
                                        KNAUF 50 мм
                                    </label>
                                </div>
                                <div class="form-check mb-3">
                                    <input class="form-check-input" type="radio"
                                           name="insulation"
                                           id="beltermo"
                                    >
                                    <label class="form-check-label" for="beltermo">
                                        Белтермо 20 мм
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="custom-equipment__item">
                            <img src="/assets/images/site/project/custom3.jpg" alt />
                            <div class="custom-equipment__item-content">
                                <h5>Внешняя отделка</h5>
                                <div class="form-check mb-3">
                                    <input class="form-check-input" type="radio"
                                           name="out"
                                           id="decover" checked
                                    >
                                    <label class="form-check-label" for="decover">
                                        Decover
                                    </label>
                                </div>
                                <div class="form-check mb-3">
                                    <input class="form-check-input" type="radio"
                                           name="out"
                                           id="brus"
                                    >
                                    <label class="form-check-label" for="brus">
                                        Имитация бруса
                                    </label>
                                </div>
                                <div class="form-check mb-3">
                                    <input class="form-check-input" type="radio"
                                           name="out"
                                           id="docke"
                                    >
                                    <label class="form-check-label" for="docke">
                                        Панели Docke (имитация кирпича)
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="custom-equipment__item">
                            <img src="/assets/images/site/project/custom4.jpg" alt />
                            <div class="custom-equipment__item-content">
                                <h5>Дверь</h5>
                                <div class="form-check mb-3">
                                    <input class="form-check-input" type="radio"
                                           name="door"
                                           id="jeld" checked
                                    >
                                    <label class="form-check-label" for="jeld">
                                        Jeld-WEN Basic (Финляндия)
                                    </label>
                                </div>
                                <div class="form-check mb-3">
                                    <input class="form-check-input" type="radio"
                                           name="door"
                                           id="granit"
                                    >
                                    <label class="form-check-label" for="granit">
                                        Гранит М-2
                                    </label>
                                </div>
                                <div class="form-check mb-3">
                                    <input class="form-check-input" type="radio"
                                           name="door"
                                           id="doorhan"
                                    >
                                    <label class="form-check-label" for="doorhan">
                                        DoorHAN
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="custom-equipment__item">
                            <img src="/assets/images/site/project/custom5.jpg" alt />
                            <div class="custom-equipment__item-content">
                                <h5>Внутренняя отделка</h5>
                                <div class="form-check mb-3">
                                    <input class="form-check-input" type="radio"
                                           name="into"
                                           id="brus-18" checked
                                    >
                                    <label class="form-check-label" for="brus-18">
                                        Имитация бруса 18мм, сорт А-Б
                                    </label>
                                </div>
                                <div class="form-check mb-3">
                                    <input class="form-check-input" type="radio"
                                           name="into"
                                           id="gips"
                                    >
                                    <label class="form-check-label" for="gips">
                                        Гипсокартон 12,5 мм, 2 слоя
                                    </label>
                                </div>
                                <div class="form-check mb-3">
                                    <input class="form-check-input" type="radio"
                                           name="into"
                                           id="shtil"
                                    >
                                    <label class="form-check-label" for="shtil">
                                        Панели Штиль 12,5 мм
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="custom-equipment__item">
                            <img src="/assets/images/site/project/custom6.jpg" alt />
                            <div class="custom-equipment__item-content">
                                <h5>Водосточная система</h5>
                                <div class="form-check mb-3">
                                    <input class="form-check-input" type="radio"
                                           name="gutter"
                                           id="metal" checked
                                    >
                                    <label class="form-check-label" for="metal">
                                        Металл
                                    </label>
                                </div>
                                <div class="form-check mb-3">
                                    <input class="form-check-input" type="radio"
                                           name="gutter"
                                           id="plastic"
                                    >
                                    <label class="form-check-label" for="plastic">
                                        Пластик
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="custom-equipment__item">
                            <img src="/assets/images/site/project/custom7.jpg" alt />
                            <div class="custom-equipment__item-content">
                                <h5>Окна</h5>
                                <div class="form-check mb-3">
                                    <input class="form-check-input" type="radio"
                                           name="window"
                                           id="veka-70" checked=""
                                    >
                                    <label class="form-check-label" for="veka-70">
                                        Veka профиль 70 мм
                                    </label>
                                </div>
                                <div class="form-check mb-3">
                                    <input class="form-check-input" type="radio"
                                           name="window"
                                           id="veka-82"
                                    >
                                    <label class="form-check-label" for="veka-82">
                                        Veka профиль 82 мм
                                    </label>
                                </div>
                                <div class="form-check mb-3">
                                    <input class="form-check-input" type="radio"
                                           name="window"
                                           id="veka-58"
                                    >
                                    <label class="form-check-label" for="veka-58">
                                        Veka профиль 58 мм
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="custom-equipment__item custom-equipment__item-final">
                            <div class="project-block__card-info-price mb-4">
                                <div>
                                    <h5 class="mb-1 mb-md-0">
                                        Стоимость дома </h5>
                                    <div class="project-block__card-info-price-text">
                                        Комплектация "Под ключ"
                                    </div>
                                </div>
                                <strong> 1 425 000 Р </strong>
                            </div>
                            <button class="button button_primary">
                                ХОЧУ ДОМ В ТАКОЙ КОМПЛЕКТАЦИИ
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="completed-house">
                    <img src="/assets/images/site/project/completed-house.jpg" alt class="d-lg-block d-none" /> <img
                        src="/assets/images/site/project/completed-house-sm.jpg" alt class="d-lg-none d-block"
                />
                    <div class="completed-house__content">
                        <div class="mb-4">
                            <h3 class="mb-md-1 mb-3">
                                Готовый дом для жизни всего за 25 дней </h3>
                            Все коммуникации, отопление, септик, сантехника и отделка по фиксированной цене
                        </div>
                        <div class="completed-house__items">
                            <div class="completed-house__item">
                                <i class="icon-list-numbered mb-3"></i>
                                <h5 class="mb-3">
                                    Детальная смета </h5>
                                <div class="completed-house__item-text">
                                    Цена фиксируется в договоре до старта работ
                                </div>
                            </div>
                            <div class="completed-house__item">
                                <i class="icon-guarantee1 mb-3"></i>
                                <h5 class="mb-3">
                                    Гарантия 10 лет </h5>
                                <div class="completed-house__item-text">
                                    По договору на весь дом и отдельные эелементы
                                </div>
                            </div>
                            <div class="completed-house__item">
                                <i class="icon-timer mb-3"></i>
                                <h5 class="mb-3">
                                    100 % соблюдение сроков </h5>
                                <div class="completed-house__item-text">
                                    Сдаём день в день. Финансовые гарантии по договору
                                </div>
                            </div>
                        </div>
                        <div class="completed-house__btns">
                            <button class="button button_primary">
                                <i class="icon-calculate"></i> ПОЛУЧИТЬ ТОЧНЫЙ РАСЧЕТ
                            </button>
                            <button class="button button_dark">
                                <i class="icon-adobe"></i> ПОЛУЧИТЬ ПРЕЗЕНТАЦИЮ
                            </button>
                        </div>
                    </div>
                </div>
                <div class="cooperation-advantages">
                    <h2 class="text-start">Мы с вниманием относимся к чистоте и порядку </h2>
                    <div class="cooperation-advantages__subtitle">
                        Чтобы Вы были довольны сотрудничеством с нами
                    </div>
                    <div class="cooperation-advantages__items">
                        <div class="cooperation-advantages__item">
                            <div class="icon-wrap cooperation-advantages__item-img">
                                <i class="icon-cleanliness"></i>
                            </div>
                            <div>
                                <h5>
                                    Идеальный порядок на участке </h5>
                                <div class="cooperation-advantages__item-text">
                                    На строительной площадке рабочие проводят ежедневную уборку и вывозят строительный
                                    мусор и
                                    остатки материалов раз в неделю
                                </div>
                            </div>
                        </div>
                        <div class="cooperation-advantages__item">
                            <div class="icon-wrap cooperation-advantages__item-img">
                                <i class="icon-employee50"></i>
                            </div>
                            <div>
                                <h5>
                                    Профессиональный подход </h5>
                                <div class="cooperation-advantages__item-text">
                                    Ваш дом будут строить специалисты только с гражданством РФ, имеющие опыт в каркасном
                                    домостроении от 5 лет
                                </div>
                            </div>
                        </div>
                        <div class="cooperation-advantages__item">
                            <div class="icon-wrap cooperation-advantages__item-img">
                                <i class="icon-careful"></i>
                            </div>
                            <div>
                                <h5>
                                    Бережное отношение к материалам </h5>
                                <div class="cooperation-advantages__item-text">
                                    Корректное складирование и укрытие материалов от влаги и не погоды, обеспечивает их
                                    сохранность и высокое качество вашего дома. Рабочие бережно используют материалы,
                                    что
                                    исключает избыточные затраты на стройматериалы
                                </div>
                            </div>
                        </div>
                        <div class="cooperation-advantages__item">
                            <div class="icon-wrap cooperation-advantages__item-img">
                                <i class="icon-hygiene"></i>
                            </div>
                            <div>
                                <h5>
                                    Санитарно гигиенические нормы </h5>
                                <div class="cooperation-advantages__item-text">
                                    На весь период строительства вашего дома мы устанавливаем на участке бытовку для
                                    рабочих и
                                    технический блок. Личные вещи строителей и инструменты храниться только там. Рядом с
                                    бытовкой мы размещаем биотуалет
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="house-projects project__house-projects">
                    <div class="house-projects__header">
                        <h2 class="mb-0 me-3 order-0">
                            Похожие проекты </h2>
                    </div>
                    <div class="house-projects__items">
                        <div class="house-project-card">
                            <img src="/assets/images/site/catalogue/item.png" alt="item" class="mb-3" />
                            <div class="house-project-card__description">
                                <div class="mb-3">
                                    Каркасный дом Проект 345
                                </div>
                                <div>
                                    Площадь: <span>138.2 м<sup>2</sup></span>
                                </div>
                                <div class="d-flex justify-content-between flex-xl-row flex-column">
                                    <div>
                                        Спальных комнат: <span>4</span>
                                    </div>
                                    <div>
                                        от <span>1 450 000 Р</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="house-project-card">
                            <img src="/assets/images/site/catalogue/item.png" alt="item" class="mb-3" />
                            <div class="house-project-card__description">
                                <div class="mb-3">
                                    Каркасный дом Проект 345
                                </div>
                                <div>
                                    Площадь: <span>138.2 м<sup>2</sup></span>
                                </div>
                                <div class="d-flex justify-content-between flex-xl-row flex-column">
                                    <div>
                                        Спальных комнат: <span>4</span>
                                    </div>
                                    <div>
                                        от <span>1 450 000 Р</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="house-project-card">
                            <img src="/assets/images/site/catalogue/item.png" alt="item" class="mb-3" />
                            <div class="house-project-card__description">
                                <div class="mb-3">
                                    Каркасный дом Проект 345
                                </div>
                                <div>
                                    Площадь: <span>138.2 м<sup>2</sup></span>
                                </div>
                                <div class="d-flex justify-content-between flex-xl-row flex-column">
                                    <div>
                                        Спальных комнат: <span>4</span>
                                    </div>
                                    <div>
                                        от <span>1 450 000 Р</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="house-projects__footer">
                        <a href="/projects" class="button button_light">
                            <i class="icon-list-bold me-1"></i> В КАТАЛОГ ПРОЕКТОВ
                        </a>
                        <button class="button button_primary" data-bs-toggle="modal"
                                data-bs-target="#feedback-modal">
                            ХОЧУ ПОСЕТИТЬ СТРОЙКУ
                        </button>
                    </div>
                </div>
                <div class="get-consultation">
                    <img src="/assets/images/site/for-client/consultation.png" alt="" />
                    <div class="get-consultation__content">
                        <div class="get-consultation__text">
                            <h3>Получите консультацию</h3>
                            Консультация эксперта с 10 летним стажем
                        </div>
                        <button type="button" class="button button_primary" data-bs-toggle="modal"
                                data-bs-target="#feedback-modal">
                            ПОЛУЧИТЬ КОНСУЛЬТАЦИЮ
                        </button>
                    </div>
                </div>
            </div>
        </div>
    {{/content}}
{{/extend}}
