{{#extend "layouts/default" title="Блог"}}
    {{#content "page"}}
        <div class="blog">
            <div class="container">
                <h1>
                    Статьи о строительстве, материалах и технологиях
                </h1>
                <div class="blog__layout">
                    <div class="blog-card">
                        <div class="blog-card__img-wrap"><img
                                src="/assets/images/site/blog/man-insulate.jpg" alt class="blog-card__img">
                        </div>
                        <div class="blog-card__content"><h5 class="blog-card__title"
                        >
                            Как утеплить дачный дом?
                        </h5>
                            <div class="blog-card__text">
                                Дачный дом – это место, где собирается вся семья в любое время года. Плохая
                                утепленность
                                строения слабо ощущается летом или поздней весной. Зато зимой, слабая утепленность
                                может
                                отразиться не только на здоровье ....
                            </div>
                            <a href="/blog/article" class="link link_gray"><i class="icon-article"
                            ></i>
                                <span>Читать статью</span></a></div>
                    </div>
                    <div class="blog-card">
                        <div class="blog-card__img-wrap"><img
                                src="/assets/images/site/blog/man-insulate.jpg" alt class="blog-card__img">
                        </div>
                        <div class="blog-card__content"><h5 class="blog-card__title"
                        >
                            Как утеплить дачный дом?
                        </h5>
                            <div class="blog-card__text">
                                Дачный дом – это место, где собирается вся семья в любое время года. Плохая
                                утепленность
                                строения слабо ощущается летом или поздней весной. Зато зимой, слабая утепленность
                                может
                                отразиться не только на здоровье ....
                            </div>
                            <a href="/blog/article" class="link link_gray"><i class="icon-article"
                            ></i>
                                <span>Читать статью</span></a></div>
                    </div>
                    <div class="blog-card">
                        <div class="blog-card__img-wrap"><img
                                src="/assets/images/site/blog/man-insulate.jpg" alt class="blog-card__img">
                        </div>
                        <div class="blog-card__content"><h5 class="blog-card__title"
                        >
                            Как утеплить дачный дом?
                        </h5>
                            <div class="blog-card__text">
                                Дачный дом – это место, где собирается вся семья в любое время года. Плохая
                                утепленность
                                строения слабо ощущается летом или поздней весной. Зато зимой, слабая утепленность
                                может
                                отразиться не только на здоровье ....
                            </div>
                            <a href="/blog/article" class="link link_gray"><i class="icon-article"
                            ></i>
                                <span>Читать статью</span></a></div>
                    </div>
                    <div class="blog-card">
                        <div class="blog-card__img-wrap"><img
                                src="/assets/images/site/blog/man-insulate.jpg" alt class="blog-card__img">
                        </div>
                        <div class="blog-card__content"><h5 class="blog-card__title"
                        >
                            Как утеплить дачный дом?
                        </h5>
                            <div class="blog-card__text">
                                Дачный дом – это место, где собирается вся семья в любое время года. Плохая
                                утепленность
                                строения слабо ощущается летом или поздней весной. Зато зимой, слабая утепленность
                                может
                                отразиться не только на здоровье ....
                            </div>
                            <a href="/blog/article" class="link link_gray"><i class="icon-article"
                            ></i>
                                <span>Читать статью</span></a></div>
                    </div>
                    <div class="blog-card">
                        <div class="blog-card__img-wrap"><img
                                src="/assets/images/site/blog/man-insulate.jpg" alt class="blog-card__img">
                        </div>
                        <div class="blog-card__content"><h5 class="blog-card__title"
                        >
                            Как утеплить дачный дом?
                        </h5>
                            <div class="blog-card__text">
                                Дачный дом – это место, где собирается вся семья в любое время года. Плохая
                                утепленность
                                строения слабо ощущается летом или поздней весной. Зато зимой, слабая утепленность
                                может
                                отразиться не только на здоровье ....
                            </div>
                            <a href="/blog/article" class="link link_gray"><i class="icon-article"
                            ></i>
                                <span>Читать статью</span></a></div>
                    </div>
                    <div class="blog-card">
                        <div class="blog-card__img-wrap"><img
                                src="/assets/images/site/blog/man-insulate.jpg" alt class="blog-card__img">
                        </div>
                        <div class="blog-card__content"><h5 class="blog-card__title"
                        >
                            Как утеплить дачный дом?
                        </h5>
                            <div class="blog-card__text">
                                Дачный дом – это место, где собирается вся семья в любое время года. Плохая
                                утепленность
                                строения слабо ощущается летом или поздней весной. Зато зимой, слабая утепленность
                                может
                                отразиться не только на здоровье ....
                            </div>
                            <a href="/blog/article" class="link link_gray"><i class="icon-article"
                            ></i>
                                <span>Читать статью</span></a></div>
                    </div>
                    <div class="blog-card">
                        <div class="blog-card__img-wrap"><img
                                src="/assets/images/site/blog/man-insulate.jpg" alt class="blog-card__img">
                        </div>
                        <div class="blog-card__content"><h5 class="blog-card__title"
                        >
                            Как утеплить дачный дом?
                        </h5>
                            <div class="blog-card__text">
                                Дачный дом – это место, где собирается вся семья в любое время года. Плохая
                                утепленность
                                строения слабо ощущается летом или поздней весной. Зато зимой, слабая утепленность
                                может
                                отразиться не только на здоровье ....
                            </div>
                            <a href="/blog/article" class="link link_gray"><i class="icon-article"
                            ></i>
                                <span>Читать статью</span></a></div>
                    </div>
                </div>
                <button class="button button_outline mx-auto col-12 col-md-4">
                    <i class="icon-show-more button__icon"></i>
                    Показать еще
                </button>
            </div>
        </div>
    {{/content}}
{{/extend}}
