{{#extend "layouts/default" title="Блог"}}
    {{#content "page"}}
        <div class="container">
            <h1>
                Статьи о строительстве, материалах и технологиях
            </h1>
            <div class="blog__layout mb-5">
                {{> partials/blog-card }}
                {{> partials/blog-card }}
                {{> partials/blog-card }}
                {{> partials/blog-card }}
                {{> partials/blog-card }}
                {{> partials/blog-card }}
            </div>
            <div class="text-center mt-5">
                <button class="button button_outline col-12 col-md-4">
                    <i class="icon-show-more button__icon"></i>
                    Показать еще
                </button>
            </div>
        </div>
    {{/content}}
{{/extend}}
