{{#extend "layouts/default" title="Проект"}}
    {{#content "page"}}
        <div class="project-page">
            <div class="container">
                <ul class="breadcrumbs">
                    <li class="breadcrumbs__item"><a href="/" class="breadcrumbs__link">
                        Главная
                    </a></li>
                    <li class="breadcrumbs__item">
                        <a href="/completed-projects" class="breadcrumbs__link">
                        Реализованные проекты
                    </a>
                    </li>
                    <li class="breadcrumbs__item">Проект П-345, Всеволожский муниципальный район</li>
                </ul>
                <h1>Проект П-345</h1>
                <div class="project-page__card">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="project-page__card-images">
                                <div class="project-page__card-img main"></div>
                                <div class="project-page__card-img-wrap"><img
                                        src="/assets/images/site/completed-projects/completed-house.jpg" alt
                                        class="project-page__card-img video"> <i class="icon-play"></i></div>
                                <div class="project-page__card-img-wrap"><img
                                        src="/assets/images/site/completed-projects/completed-house.jpg" alt
                                        class="project-page__card-img more">
                                    <div class="project-page__card-img-text">
                                        Смотреть 39 фото
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="project-page__card-info">
                                <div class="project-page__card-info-top">
                                    Дом построен по проекту П-345
                                </div>
                                <div class="project-page__card-info-item mb-4"><h5 class="mb-2">
                                    Место строения
                                </h5>
                                    <div class="project-page__card-info-label">
                                        Ленинградская область,
                                        Всеволожский муниципальный район
                                    </div>
                                </div>
                                <div class="project-page__card-info-item mb-4"><h5 class="mb-2">
                                    Комплектация
                                </h5> <strong class="project-page__card-info-label">
                                    Под ключ
                                </strong></div>
                                <div class="project-page__card-info-item mb-4"><h5 class="mb-2">
                                    Общая информация
                                </h5>
                                    <div class="row">
                                        <div class="col-6 mb-3">
                                            <div class="project-page__card-info-label">
                                                Площадь
                                            </div>
                                            <span>154,2 м2</span></div>
                                        <div class="col-6 mb-3">
                                            <div class="project-page__card-info-label">
                                                Размеры
                                            </div>
                                            <span>10х13</span></div>
                                        <div class="col-6 mb-3">
                                            <div class="project-page__card-info-label">
                                                Этажей
                                            </div>
                                            <span>2</span></div>
                                        <div class="col-6 mb-3">
                                            <div class="project-page__card-info-label">
                                                Высота этажей
                                            </div>
                                            <span>2,80 м | 2,60 м</span></div>
                                        <div class="col-6 mb-3">
                                            <div class="project-page__card-info-label">
                                                Спален
                                            </div>
                                            <span>6</span></div>
                                        <div class="col-6 mb-3">
                                            <div class="project-page__card-info-label">
                                                Сроки
                                            </div>
                                            <span>25 дней</span></div>
                                    </div>
                                </div>
                                <button class="button w-100 button_primary">
                                    ПОСМОТРЕТЬ ПРОЕКТ
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="project-plan">
                    <div class="row">
                        <div class="col-lg-5 order-1 order-lg-0"><h3 class="d-none d-lg-block">
                            Планировочные решения
                        </h3>
                            <div schema="badges" class="tabs">
                                <div><!----> <!---->
                                    <ul class="tabs__head">
                                        <li class="tabs__item tabs__item_active">
                                            1 этаж
                                        </li>
                                        <li class="tabs__item">
                                            2 этаж
                                        </li>
                                    </ul>
                                </div>
                                <div>
                                    <div class="project-plan-tab__content">
                                        <div class="project-plan-tab__content-title">
                                            Площадь 1 этажа
                                            <strong>
                                                73.4 м2
                                            </strong></div>
                                        <ul class="project-plan-tab__content-list">
                                            <li>
                                                Прихожая
                                                <strong>
                                                    8.36 м2
                                                </strong></li>
                                            <li>
                                                Кладовая
                                                <strong>
                                                    4.95 м2
                                                </strong></li>
                                            <li>
                                                Гардероб
                                                <strong>
                                                    3.29 м2
                                                </strong></li>
                                            <li>
                                                Санузел
                                                <strong>
                                                    3.77 м2
                                                </strong></li>
                                            <li>
                                                Кухня гостинная
                                                <strong>
                                                    21.4 м2
                                                </strong></li>
                                            <li>
                                                Спальня
                                                <strong>
                                                    13.3 м2
                                                </strong></li>
                                            <li>
                                                Котельная
                                                <strong>
                                                    4.92 м2
                                                </strong></li>
                                        </ul>
                                    </div>
                                </div>
                                <div style="display:none">
                                    <div class="project-plan-tab__content">
                                        <div class="project-plan-tab__content-title">
                                            Площадь 2 этажа
                                            <strong>
                                                71.4 м2
                                            </strong></div>
                                        <ul class="project-plan-tab__content-list">
                                            <li>
                                                Прихожая
                                                <strong>
                                                    8.36 м2
                                                </strong></li>
                                            <li>
                                                Кладовая
                                                <strong>
                                                    4.95 м2
                                                </strong></li>
                                            <li>
                                                Гардероб
                                                <strong>
                                                    3.29 м2
                                                </strong></li>
                                            <li>
                                                Санузел
                                                <strong>
                                                    3.77 м2
                                                </strong></li>
                                            <li>
                                                Кухня гостинная
                                                <strong>
                                                    21.4 м2
                                                </strong></li>
                                            <li>
                                                Спальня
                                                <strong>
                                                    13.3 м2
                                                </strong></li>
                                            <li>
                                                Котельная
                                                <strong>
                                                    4.92 м2
                                                </strong></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7 order-0 order-lg-1"><h3 class="d-block d-lg-none">
                            Планировочные решения
                        </h3> <img src="/assets/images/site/documentation/doc.png" alt></div>
                    </div>
                </div>
                <div class="project-page__info">
                    <div class="row">
                        <div class="col-lg-5 mb-4 mb-lg-0"><h3>Отзыв заказчика</h3>
                            {{> partials/review-card}}
                        </div>
                        <div class="col-lg-7 mb-4 mb-lg-0"><h3>Объект на карте</h3></div>
                    </div>
                </div>
                <div class="get__consultation"><img src="/assets/images/site/for-client/consultation.png"
                                                    alt="">
                    <div class="get__consultation-content">
                        <div class="get__consultation-text"><h3>Получите
                            консультацию</h3>
                            Консультация эксперта с 10 летним стажем
                        </div>
                        <button type="button" class="button button_primary">
                            ПОЛУЧИТЬ КОНСУЛЬТАЦИЮ
                        </button>
                    </div>
                </div>
            </div>
        </div>
    {{/content}}
{{/extend}}
