<extends src="default.html">
    <block name="page">
        <div class="about-company">
            <div class="container"><h2 class="mb-lg-5">
                О компании
            </h2>
                <div class="about-statistics about-company__statistics"><h3
                        class="text-primary mb-lg-5">
                    Наша миссия – воплощение мечты о загородной жизни
                </h3>
                    <div class="about-statistics__content reverted">
                        <div class="statistics-card">
                            <div class="statistic-card__number mt-lg-3">
                                19
                            </div>
                            лет надежной работы
                        </div>
                        <div class="statistics-card">
                            <div class="text-primary">
                                Более
                            </div>
                            <div class="statistic-card__number">
                                1300
                            </div>
                            домов построено
                        </div>
                        <div class="statistics-card">
                            <div class="text-primary">
                                Более
                            </div>
                            <div class="statistic-card__number">
                                200
                            </div>
                            готовых проектов
                        </div>
                        <div class="statistics-card">
                            <div class="text-primary">
                                Более
                            </div>
                            <div class="statistic-card__number">
                                100
                            </div>
                            разработанных проектов
                        </div>
                        <div class="about-statistics__text">
                            <div><p>
                                Frame House — это выбор тысяч семей как надежной и ответственной строительной
                                организации!
                            </p>
                                <p>
                                    Мы работаем в сфере строительства высококачественных и современных каркасных
                                    домов домов,
                                    воплощаем в жизнь проекты любой сложности и строго следуем требованиям
                                    заказчика.
                                </p>
                                <p>
                                    За годы нашей деятельности каркасные дома стали известны по всей Ленинградской
                                    области.
                                    Такой
                                    популярности послужили профессиональное проектирование, безупречное качество
                                    реализации
                                    проектов. Мы предлагаем доступное жилье по умеренным ценам — при этом наши дома
                                    отвечают
                                    всем
                                    современным требованиям качества и дизайна.
                                </p></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="about-company__work">
                <div class="container"><h2>
                    Работа с компанией Frame House
                </h2>
                    <p>
                        Frame House — это профессиональный коллектив архитекторов, инженеров и строителей. <br>
                        Мы убеждены, что строительство может быть приятным процессом
                        <br><br>
                        В работе мы ориентируемся на:
                    </p>
                    <div class="row">
                        <div class="col-md-7 order-1 order-md-0">
                            <div class="about-company__work-text"><h4 class="h3 mb-3 text-primary">
                                Рациональные и удобные планировки
                            </h4>
                                <p>
                                    Создаем современные планировки под ваши желания и образ жизни. Оптимизируем
                                    пространство,
                                    делаем
                                    эргономичный дизайн
                                </p></div>
                            <div class="about-company__work-text"><h4 class="h3 mb-3 text-primary">
                                Качественную архитектуру
                            </h4>
                                <p>
                                    Продумываем проекты до мельчайших деталей благодаря огромному опыту наших
                                    архитекторов и
                                    инженеров-конструкторов
                                </p></div>
                            <div class="about-company__work-text"><h4 class="h3 mb-3 text-primary">
                                Проверенные технологии и продуманные инженерные системы
                            </h4>
                                <p>
                                    Соблюдаем стандарты строительства, используем технологичные решения
                                </p></div>
                            <div class="about-company__work-text"><h4 class="h3 mb-3 text-primary">
                                Надежные материалы
                            </h4>
                                <p>
                                    Используем только качественные материалы от лидеров индустрии с долгосрочной
                                    гарантией.
                                    Соответствие нормам ГОСТ
                                </p></div>
                            <div class="about-company__work-text"><h4 class="h3 mb-3 text-primary">
                                Прозрачность процессов
                            </h4>
                                <p>
                                    Держим вас в курсе всего, что происходит на объекте, через личного менеджера,
                                    систему
                                    документальной и фотоотчетности, доступы к видеокамерам на стройплощадке
                                </p></div>
                        </div>
                        <div class="col-md-5 order-0 order-md-1"><img
                                src="/assets/images/site/about-company/house.jpg"
                                alt="Принципы работы Frame House"></div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="about-company__advantages"><h2 class="mb-lg-5">
                    Почему выбирают нас
                </h2>
                    <div class="about-company__advantages-layout">
                        <div class="about-company-advantages-item"><i
                                class="icon-available-price icon-wrap about-company-advantages-item__icon"></i>
                            <div class="about-company-advantages-item__text">
                                Доступные цены и удобные условия работы
                            </div>
                        </div>
                        <div class="about-company-advantages-item"><i
                                class="icon-waves icon-wrap about-company-advantages-item__icon"></i>
                            <div class="about-company-advantages-item__text">
                                Сухие пиломатериалы заводской сушки
                            </div>
                        </div>
                        <div class="about-company-advantages-item"><i
                                class="icon-control icon-wrap about-company-advantages-item__icon"></i>
                            <div class="about-company-advantages-item__text">
                                Контроль строительства на каждом этапе
                            </div>
                        </div>
                        <div class="about-company-advantages-item"><i
                                class="icon-responsibility icon-wrap about-company-advantages-item__icon"></i>
                            <div class="about-company-advantages-item__text">
                                Материальная ответственность исполнителя за срыв сроков
                            </div>
                        </div>
                        <div class="about-company-advantages-item"><i
                                class="icon-roads icon-wrap about-company-advantages-item__icon"></i>
                            <div class="about-company-advantages-item__text">
                                Индивидуальные и типовые проекты
                            </div>
                        </div>
                        <div class="about-company-advantages-item"><i
                                class="icon-videocamera icon-wrap about-company-advantages-item__icon"></i>
                            <div class="about-company-advantages-item__text">
                                Видеонаблюдение 24/7 за процессом стройки вашего дома
                            </div>
                        </div>
                        <div class="about-company-advantages-item"><i
                                class="icon-smile icon-wrap about-company-advantages-item__icon"></i>
                            <div class="about-company-advantages-item__text">
                                Работаем без предоплаты
                            </div>
                        </div>
                        <div class="about-company-advantages-item"><i
                                class="icon-guarantee icon-wrap about-company-advantages-item__icon"></i>
                            <div class="about-company-advantages-item__text">
                                Гарантия на построенные объекты 10 лет
                            </div>
                        </div>
                        <div class="about-company-advantages-item"><i
                                class="icon-passport icon-wrap about-company-advantages-item__icon"></i>
                            <div class="about-company-advantages-item__text">
                                Все бригады высококвалифициро-ванные и являются гражданами РФ
                            </div>
                        </div>
                    </div>
                </div>
                <div class="send-order about-company__send-order">
                    <div class="row align-items-center justify-content-lg-between flex-column flex-lg-row"
                    >
                        <div class="col-lg-4 mb-3 mb-lg-0"><h3>Записаться на
                            встречу</h3></div>
                        <div class="col-lg-4 mb-3 mb-lg-0">
                            Мы будем рады видеть Вас у нас в офисе!
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <button class="button button_primary">
                                ЗАПИСАТЬСЯ
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </block>
</extends>