.feedback-form {
    .input__input {
        border: 1px solid $gray;
        &::placeholder {
            color: $gray;
        }
    }
    .feedback-form__signing {
        color: $gray;
        font-size: 10px;
        line-height: 14px;
    }
}
