.index-offers {
    background: linear-gradient(180deg, rgba(243, 238, 217, 0.1) -72.27%, rgba(130, 30, 39, 0.1) 145.18%);
    padding: 60px 0;
}

.index-offers__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;

    @include media-breakpoint-down(md) {
        grid-template-columns: 1fr;
    }
}

.index-offer {
    border: 1px solid rgba(130, 30, 39, 0.25);
    border-radius: 5px;
    padding: 40px;

    .index-offer__icon {
        margin-bottom: 15px;
        font-size: 30px;
    }


    .index-offer__title {
        font-size: 20px;
        font-weight: bold;
        color: $primary;
        margin-bottom: 10px;
    }

    .index-offer__small {
        font-size: 14px;
    }
}