.quiz-modal {
    width: fit-content;
    max-width: 90%;

    .quiz-modal__body {
        overflow: hidden;
    }

    .quiz-modal__slide {
        padding: 30px 100px 30px 100px;
        @include media-breakpoint-down(lg){
            padding: 30px;
        }
    }

    .quiz-content {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .quiz-modal__number {
        font-weight: bold;
        font-size: 273.231px;
        color: $primary;
        line-height: 187px;
        opacity: 0.1;
        position: absolute;
        top: -16px;
        left: -35px;
        z-index: -1;
    }

    .quiz-modal__price-wrapper {
        display: flex;
        align-items: center;
        grid-gap: 4px;
        color: $border-color;

        .input__input {
            border-color: $border-color;
            background: white;
        }
    }

    .quiz-btn-prev, .quiz-btn-next {
        width: 30%;
        @include media-breakpoint-down(lg){
            width: 50%;
        }
    }
    .quiz-btn-submit {
        width: 50%;
        @include media-breakpoint-down(md) {
            width: 100%;
        }
    }

    .quiz-modal__step {
        display: grid;
        grid-template-columns: 1fr 1fr;
        min-height: 400px;

        @include media-breakpoint-down(lg) {
            grid-template-columns: 1fr;
        }

        .quiz-modal__logo {
            position: relative;
            @include media-breakpoint-down(lg) {
                display: none;
            }

            .quiz-modal__img-wrapper {
                position: absolute;
                right: 0;
                top: 50%;
                width: 232.63px;
                height: 232.63px;
                display: flex;
                align-items: center;
                justify-content: center;
                background: radial-gradient(109.82% 109.82% at 33.93% 38.39%, #C02836 0%, #821E27 100%), #821E27;
                box-shadow: inset -4px -4px 10px rgba(0, 0, 0, 0.25), inset 3px 3px 10px #BF2C39;
                border-radius: 44px;
                transform: rotate(-7.89deg) translateY(-70%);

                &:before {
                    content: '';
                    position: absolute;
                    width: 304px;
                    height: 16px;
                    background: black;
                    filter: blur(35px);
                    bottom: -80px;
                    transform: rotate(7.89deg)
                }
            }
        }
    }

}
