.link {
    cursor: pointer;
    text-decoration: none;
}

.link_dark {
    color: $dark;

    &:hover {
        color: $primary;
    }
}

.link_secondary {
    color: $secondary;

    &:hover {
        color: $secondary;
    }
}

.link_gray {
    color: $gray;

    &:hover {
        color: $gray;
    }
}

.link_light {
    color: $light;

    &:hover {
        color: $light;
    }
}

.link_primary {
    color: $primary;

    &:hover {
        color: $dark;
    }
}

.link_underlined {
    border-bottom: 2px solid $primary;
    padding-bottom: 5px;
    display: inline-block;
    color: unset;

    &:hover {
        color: $primary;
    }
}

.link_dashed {
    border-bottom: 1px dashed currentColor;
}

.link__icon {
    vertical-align: middle;
    margin-right: 5px;
    color: $primary;
    line-height: 16px;
}
