{{#extend "layouts/default"}}
    {{#content "page"}}
        <div class="for-client">
            <div class="container"><h2 class="for-client__title">
                Полезная информация для клиента
            </h2>
                <div class="row">
                    <div class="col-lg-8 mb-5">
                        Если вы не нашли ответа на свой вопрос или у вас есть вопросы по проектированию, этапам
                        строительства
                        или финансированию, то воспользуйтесь формой обратной связи
                    </div>
                </div>
                <div class="for-client__info"><a href="/" class="link for-client__info-link nuxt-link-active">
                    Оплата
                </a> <a href="/" class="link for-client__info-link nuxt-link-active">
                    Гарантии
                </a> <a href="/" class="link for-client__info-link nuxt-link-active">
                    Вопросы и ответы
                </a> <a href="/" class="link for-client__info-link nuxt-link-active">
                    Инженерия
                </a> <a href="/" class="link for-client__info-link nuxt-link-active">
                    Технологии
                </a> <a href="/" class="link for-client__info-link nuxt-link-active">
                    Документации
                </a> <a href="/" class="link for-client__info-link for-client__info-link_big nuxt-link-active">
                    Прозрачная <br> развернутая смета
                </a></div>
                <div class="get__consultation"><img src="/assets/images/site/for-client/consultation.png"
                                                    alt="">
                    <div class="get__consultation-content">
                        <div class="get__consultation-text"><h3>Получите
                            консультацию</h3>
                            Консультация эксперта с 10 летним стажем
                        </div>
                        <button type="button" class="button button_primary">
                            ПОЛУЧИТЬ КОНСУЛЬТАЦИЮ
                        </button>
                    </div>
                </div>
            </div>
        </div>
    {{/content}}
{{/extend}}
