.faq {
    margin: $page-content-margin;
    @include media-breakpoint-down(md) {
        margin: $page-content-margin-sm;
    }

    h2 {
        margin-bottom: 50px;
    }

    .faq__section {
        margin-bottom: 70px;

        &:last-child {
            margin-bottom: 0;
            @include media-breakpoint-down(lg) {
                margin-bottom: 70px;
            }
        }

        h3 {
            margin-bottom: 35px;
        }

        .faq-collapse {
            border: 1px solid $gray;
            color: $gray;
            margin-bottom: 8px;
            background: white;
            border-radius: 5px;
            padding: 18px;

            &:last-child {
                margin-bottom: 0;
            }

            &.collapse_open {
                color: $dark;
                border: 1px solid $dark;
            }

            .faq-collapse__body {
                font-size: 18px;
                font-weight: 600;
                margin-top: 12px;
            }
        }
    }

    .faq__list {
        margin: 0;
        padding: 0;
        border: 1px solid $border-color;
        list-style: none;
        background: white;
        border-radius: 5px;

        li {
            margin: 0;
            padding: 20px 21px;
            font-size: 14px;
            font-weight: bold;
            text-transform: uppercase;
            border-bottom: 1px solid $border-color;
            @include media-breakpoint-down(lg) {
                padding: 26px 19px;
            }

            &:last-child {
                border-bottom: none;
            }
        }
    }

    .faq__get-consultation {
        padding: 60px;
        border: 1px solid $border-color;
        border-radius: 5px;
        background: $linear-gradient;
        @include media-breakpoint-down(xl) {
            padding: 32px;
        }
        @include media-breakpoint-down(lg) {
            padding: 63px;
        }

        button {
            width: 100%;
            padding: 12px;
        }
    }
}
