{{#extend "layouts/default" title="Оплата"}}
    {{#content "page"}}
        <div class="payment">
            <div class="container">
                <ul class="breadcrumbs">
                    <li class="breadcrumbs__item"><a href="/" class="breadcrumbs__link">
                        Главная
                    </a></li>
                    <li class="breadcrumbs__item">
                        <a href="/for-client" class="breadcrumbs__link">
                        Клиенту
                    </a>
                    </li>
                    <li class="breadcrumbs__item">Оплата</li>
                </ul>
                <h1>
                    Оплата
                </h1>
                <div class="row">
                    <div class="col-lg-8 order-1 order-lg-0">
                        <div class="payment__section">
                            Строительство каркасных домов без предоплаты — это шаг навстречу своим клиентам У нас
                            без
                            предоплаты Вы можете заказать каркасный дом любой площади и комплектации, типовой
                            вариант
                            или индивидуальный. Все работы выполняем по договору, соблюдаем сроки, даем на сданные
                            объекты гарантию. "Frame House" - надежная компания, зарекомендовавшая себя за многие
                            годы
                            работы, нам Вы можете доверить строительство каркасного дома любой площади и сложности
                        </div>
                        <div class="payment__section payment__section_constrained"><h3 class="text-primary">
                            Чем выгодно строительство каркасных домов без предоплаты
                        </h3>
                            <ul class="payment__list list">
                                <li class="list-item"><i class="icon-check-mark"></i>
                                    Вся сумма делится на части, равные стоимости этапов строительства, и
                                    выплачивается после
                                    окончания работ по данному этапу. То есть вы платите только после принятия
                                    работ.
                                </li>
                                <li class="list-item"><i class="icon-check-mark"></i>

                                    Вам не нужно обладать крупной суммой в момент заключения сделки. Платежи будут
                                    средними
                                    и разбитыми по времени, что очень удобно
                                </li>
                                <li class="list-item"><i class="icon-check-mark"></i>

                                    Те, кто еще живет в квартире, могут выставить ее на продажу и ожидать
                                    перечисления
                                    суммы, в то время как работы уже начнутся
                                </li>
                            </ul>
                        </div>
                        <div class="payment__section payment__section_constrained"><h3 class="text-primary">
                            Этапы оплаты
                        </h3>
                            <div class="payment__stages">
                                <div class="payment__stage">
                                    <div class="payment__stage-label">
                                        Этап
                                    </div>
                                    <div class="payment__stage-group">
                                        <div class="payment__stage-number">
                                            01
                                        </div>
                                        <div class="payment__stage-text">
                                            20% от стоимости договора после приемки готового фундамента
                                        </div>
                                    </div>
                                </div>
                                <div class="payment__stage">
                                    <div class="payment__stage-label">
                                        Этап
                                    </div>
                                    <div class="payment__stage-group">
                                        <div class="payment__stage-number">
                                            01
                                        </div>
                                        <div class="payment__stage-text">
                                            20% от стоимости договора после приемки готового фундамента
                                        </div>
                                    </div>
                                </div>
                                <div class="payment__stage">
                                    <div class="payment__stage-label">
                                        Этап
                                    </div>
                                    <div class="payment__stage-group">
                                        <div class="payment__stage-number">
                                            02
                                        </div>
                                        <div class="payment__stage-text">
                                            20% от стоимости договора после приемки после сдачи всего каркаса дома и
                                            стропильной системы
                                        </div>
                                    </div>
                                </div>
                                <div class="payment__stage">
                                    <div class="payment__stage-label">
                                        Этап
                                    </div>
                                    <div class="payment__stage-group">
                                        <div class="payment__stage-number">
                                            03
                                        </div>
                                        <div class="payment__stage-text">
                                            20% от стоимости договора после приемки работ по покрытию кровли
                                        </div>
                                    </div>
                                </div>
                                <div class="payment__stage">
                                    <div class="payment__stage-label">
                                        Этап
                                    </div>
                                    <div class="payment__stage-group">
                                        <div class="payment__stage-number">
                                            04
                                        </div>
                                        <div class="payment__stage-text">
                                            20% от стоимости договора после приемки работ внешней обшивке дома
                                        </div>
                                    </div>
                                </div>
                                <div class="payment__stage">
                                    <div class="payment__stage-label">
                                        Этап
                                    </div>
                                    <div class="payment__stage-group">
                                        <div class="payment__stage-number">
                                            05
                                        </div>
                                        <div class="payment__stage-text">
                                            20% от стоимости договора после окончание строительства и подписание
                                            акта
                                            приема-сдачи
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 order-0 order-lg-1"><img src="/assets/images/site/payment/payment.jpg" alt
                                                                  class="d-lg-block d-none w-100"> <img
                            src="/assets/images/site/payment/payment-sm.jpg" alt class="d-lg-none d-block w-100"></div>
                </div>
            </div>
        </div>
    {{/content}}
{{/extend}}
