{{#extend "layouts/default" title="Карта строящихся объектов"}}
    {{#content "page"}}
        <div class="objects-map">
            <div class="container">
                <ul class="breadcrumbs">
                    <li class="breadcrumbs__item"><a href="/" class="breadcrumbs__link">
                        Главная
                    </a></li>
                    <li class="breadcrumbs__item">Карта строящихся объектов</li>
                </ul>
                <h1>
                    Карта строящихся объектов
                </h1>
                <div class="projects-on-map">
                    <div class="projects-on-map__map projects-on-map__map_building"></div>
                    <form class="projects-on-map-form" method="POST" action="">
                        <h4 class="text-primary">
                            Хотите посетить один из наших объектов?
                        </h4>
                        <p class="mb-4">
                            Оставьте заявку и специалист нашей компании перезвонит в течение 15 минут!
                        </p>
                        <input required placeholder="Ваше имя"
                               type="text"
                               class="form-control mb-3">
                        <input required placeholder="Номер телефона"
                               type="tel"
                               class="form-control mb-3">
                        <button class="button w-100 mb-2 button_primary text-uppercase"
                                type="submit">
                            Оставить заявку
                        </button>
                        <div class="projects-on-map-form__agreement">
                            Нажимая на кнопку "Оставить заявку" Вы соглашаетесь на обработку персональных данных в
                            соответствии с
                            <a href="#" class="link link_gray link_lined">
                                условиями политики конфиденциальности
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {{/content}}
{{/extend}}
