.navbar {
    background: white;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;


    .navbar__top {
        padding-top: 3px;
        padding-bottom: 3px;
        border-bottom: 1px solid #EDEDED;
        @include media-breakpoint-down(lg) {
            display: none;
        }

        .icon-location-pin {
            color: $gray;
            font-size: 18px;
            margin-right: 10px;
        }
    }

    .navbar__middle {
        border-bottom: 1px solid #EDEDED;
        padding-top: 15px;
        padding-bottom: 15px;

        @include media-breakpoint-down(sm) {
            padding: 8px;
        }
    }

    .navbar__middle-content {
        display: grid;
        grid-template-columns: 1fr auto auto;
        column-gap: 70px;
        align-items: center;

        @include media-breakpoint-down(xxl) {
            grid-gap: 40px;
        }

        @include media-breakpoint-down(lg) {
            grid-gap: 15px;
            grid-template-columns: 40px auto min-content max-content;
        }

        @include media-breakpoint-down(sm) {
            grid-template-columns: 40px auto min-content;
        }
    }

    .navbar__logo {
        flex-grow: 1;
        display: flex;
        align-items: center;
        text-decoration: none;
        color: $dark;

        &:hover {
            color: $dark;
            text-decoration: none;
        }

        img {
            margin-right: 20px;
            @include media-breakpoint-down(lg) {
                margin-right: 0;
                height: 40px;
            }
            @include media-breakpoint-down(sm) {
                height: 32px;
            }
        }

        .navbar__logo-text {
            font-family: "Montserrat", sans-serif;
            font-weight: bold;
            font-size: 14px;
            line-height: 18px;
            @include media-breakpoint-down(lg) {
                display: none;
            }
        }
    }

    .navbar__middle-buttons {
        display: flex;
        align-items: center;

        @include media-breakpoint-down(xl) {
            flex-direction: column;
        }
        @include media-breakpoint-down(lg) {
            display: none;
        }

        button {
            padding: 6px 20px;
            text-transform: none;
            @include media-breakpoint-down(xl) {
                width: 100%;
            }
        }
    }

    .navbar__middle-buttons-sm {
        display: flex;
        align-items: center;
        @include media-breakpoint-up(lg) {
            display: none;
        }
    }

    .navbar__middle-phone {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;

        @include media-breakpoint-down(sm) {
            display: none;
        }
    }

    .navbar__middle-phone-link {
        &:hover {
            text-decoration: underline;
        }

        @include media-breakpoint-down(sm) {
            font-size: 14px;
        }
    }

    .navbar__bottom {
        transition: transform .2s ease-in;
        @include media-breakpoint-up(lg) {
            display: block;
        }

        @include media-breakpoint-down(lg) {
            background: rgba($primary, .98);
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            overflow-y: auto;
            max-width: 100%;
        }

        &.collapsing {
            height: 100%;
            overflow: auto;
            transform: translateX(-100%);
        }
    }

    .button_navbar-primary {
        color: $primary;
        background: white;
        padding: 12px;
        width: 100%;
        font-size: 14px;

        &:hover {
            background: mix(black, white, 10%);
        }

        @include media-breakpoint-up(lg) {
            display: none;
        }
    }

    .button_navbar-secondary {
        text-decoration: none;
        color: $primary;
        background: #86C239;
        padding: 12px;
        width: 100%;
        font-size: 14px;

        &:hover {
            background: mix(black, #86C239, 10%);
        }

        @include media-breakpoint-up(lg) {
            display: none;
        }
    }

    .button_navbar-close {
        color: white;
        background: transparent;
        padding: 12px 0;
        font-size: 17px;

        @include media-breakpoint-up(lg) {
            display: none;
        }
    }

    .navbar__bottom-content {
        align-items: center;
        display: flex;
        justify-content: space-between;
        white-space: nowrap;
        list-style: none;
        padding: 10px 0;
        margin-bottom: 0;

        @include media-breakpoint-down(lg) {
            border-top: 1px solid rgba(white, .5);
            padding-top: 16px;
            margin-bottom: 20px;
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 10px;
            font-weight: 300;
        }

        .navbar__bottom-link {
            @include media-breakpoint-down(lg) {
                color: white;
                font-size: 24px;
            }
        }
    }

    .button_navbar-sm {
        @include media-breakpoint-down(lg) {
            width: 40px;
            height: 40px;
            padding: 0;
            flex-shrink: 0;
            font-size: 30px;
        }
    }
}

.navbar-dropdown {
    @include media-breakpoint-up(lg) {
        &:hover {
            .navbar-dropdown__items {
                opacity: 1;
                pointer-events: auto;
            }

            .navbar-dropdown__toggle::after {
                transform: rotate(180deg);
            }
        }
    }

    .navbar-dropdown__toggle {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include media-breakpoint-down(lg) {
            justify-content: space-between;
        }

        &::after {
            display: inline-block;
            margin-left: 0.255em;
            vertical-align: 0.255em;
            content: "";
            border-top: 0.3em solid;
            border-right: 0.3em solid transparent;
            border-bottom: 0;
            border-left: 0.3em solid transparent;
            transition: transform .2s ease-in;
        }
    }

    .navbar-dropdown__toggle_open {
        &::after {
            transform: rotate(180deg);
        }

        & + .navbar-dropdown__items {
            max-height: max-content;

        }
    }

    .navbar-dropdown__items {
        display: block;
        opacity: 0;
        pointer-events: none;
        transition: .2s ease-in;
        padding: 5px 13px;
        overflow: hidden;
        position: absolute;
        background: white;
        border-radius: 5px;
        border: 1px solid #E5E5E5;

        @include media-breakpoint-down(lg) {
            position: static;
            background: transparent;
            opacity: 1;
            border: none;
            max-height: 0;
            overflow: hidden;
        }
    }

    .navbar__dropdown-link {
        padding: 7px 20px;
        display: block;
        text-decoration: none !important;
        position: relative;

        @include media-breakpoint-down(lg) {
            color: white;
        }

        &:before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            height: 2px;
            width: 0;
            background: $primary;
            transition: width .2s;
        }

        &:hover:before {
            width: 100%;
        }
    }
}
