{{#extend "layouts/default" title="Сертификаты"}}
    {{#content "page"}}
        <div class="certifications">
            <div class="container">
                <ul class="breadcrumbs">
                    <li class="breadcrumbs__item"><a href="/" class="breadcrumbs__link">
                        Главная
                    </a></li>
                    <li class="breadcrumbs__item">
                        <a href="/about-company" class="breadcrumbs__link">
                        О компании
                    </a>
                    </li>
                    <li class="breadcrumbs__item">Сертификаты</li>
                </ul>
                <h1>
                    Сертификаты
                </h1>
                <div class="row">
                    <div class="col-md-3 certifications__column">
                        <div class="certifications__img-wrap"><img
                                src="/assets/images/site/certifications/certificate.jpg"
                                alt></div>
                    </div>
                    <div class="col-md-3 certifications__column">
                        <div class="certifications__img-wrap"><img
                                src="/assets/images/site/certifications/certificate.jpg"
                                alt></div>
                    </div>
                    <div class="col-md-3 certifications__column">
                        <div class="certifications__img-wrap"><img
                                src="/assets/images/site/certifications/certificate.jpg"
                                alt></div>
                    </div>
                    <div class="col-md-3 certifications__column">
                        <div class="certifications__img-wrap"><img
                                src="/assets/images/site/certifications/certificate.jpg"
                                alt></div>
                    </div>
                    <div class="col-md-3 certifications__column">
                        <div class="certifications__img-wrap"><img
                                src="/assets/images/site/certifications/certificate.jpg"
                                alt></div>
                    </div>
                    <div class="col-md-3 certifications__column">
                        <div class="certifications__img-wrap"><img
                                src="/assets/images/site/certifications/certificate.jpg"
                                alt></div>
                    </div>
                    <div class="col-md-3 certifications__column">
                        <div class="certifications__img-wrap"><img
                                src="/assets/images/site/certifications/certificate.jpg"
                                alt></div>
                    </div>
                    <div class="col-md-3 certifications__column">
                        <div class="certifications__img-wrap"><img
                                src="/assets/images/site/certifications/certificate.jpg"
                                alt></div>
                    </div>
                </div>
            </div>
        </div>
    {{/content}}
{{/extend}}
