.catalogue {
    .catalogue__carcass {
        display: flex;
        text-align: right;
        font-size: 12px;
        align-items: center;

        @include media-breakpoint-down(sm) {
            display: none;
        }

        a {
            color: $gray;
            margin-right: 10px;
            line-height: 14px;
        }

        img {
            border-radius: 5px;
        }

    }

    .catalogue__layout {
        @include media-breakpoint-down(lg) {
            display: grid;
        }
    }

    .catalogue__promos {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px;
        width: calc(66.66666% - 30px);
        float: right;
        margin-bottom: 30px;

        @include media-breakpoint-down(lg) {
            width: 100%;
            order: 1;
            grid-template-columns: 1fr;
            grid-gap: 10px;
            margin-bottom: 15px;
        }
    }

    .catalogue__filter {
        float: left;
        border-radius: 5px;
        width: 33.33333%;
        margin-right: 30px;
        margin-bottom: 30px;

        @include media-breakpoint-down(lg) {
            width: 100%;
            margin-bottom: 15px;
            order: 2;
        }
    }

    .catalogue__calculate-project {
        float: left;
        width: 33.33333%;

        @include media-breakpoint-down(lg) {
            width: 100%;
            order: 4;
        }
    }

    .catalogue__cards {
        width: calc(66.66666% - 30px);
        float: right;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px;
        grid-auto-rows: max-content;

        @include media-breakpoint-down(lg) {
            width: 100%;
            grid-template-columns: 1fr;
            order: 3;
            grid-gap: 15px;
            margin-bottom: 15px;
        }
    }

    .catalogue__terms {
        font-size: 10px;
        color: $gray;
        line-height: 14px;
    }
}
