.header {
    background: url('/assets/images/site/index/header.png') center;
    background-size: cover;
    color: white;
    @include media-breakpoint-down(md) {
        height: 620px;
    }
    .header__text {
        padding-top: 170px;
        padding-bottom: 170px;
        @include media-breakpoint-down(lg) {
            padding-top: 30px;
            padding-bottom: 30px;
        }
    }
}
