<div class="modal fade" id="feedback-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <form class="feedback-form">
                    <p class="mb-4">
                        Оставьте заявку и специалист нашей компании перезвонит в течении 15 минут!
                    </p>
                    <div class="input mb-3">
                        <input required placeholder="Ваше имя"
                               class="input__input" />
                    </div>
                    <div class="input mb-3">
                        <input type="number" required placeholder="Номер телефона"
                               class="input__input" />
                    </div>
                    <button class="button w-100 mb-2 button_primary">
                        ОСТАВИТЬ ЗАЯВКУ
                    </button>
                    <div class="feedback-form__signing gray">
                        Нажимая на кнопку "Оставить заявку" Вы соглашаетесь на обработку персональных данных в
                        соответствии с
                        <a href="#">
                            условиями политики конфиденциальности
                        </a></div>
                </form>
            </div>
        </div>
    </div>
</div>