{{#extend "layouts/default"}}
    {{#content "page"}}
        <div class="faq">
            <div class="container"><h2>
                Вопросы и ответы
            </h2>
                <div class="row">
                    <div class="col-lg-8 order-1 order-lg-0">
                        <div id="#construction" class="faq__section"><h3 class="text-primary">
                            О строительстве
                        </h3>
                            <v-collapse class="faq-collapse">
                                <div class="faq-collapse__header">
                                    Что необходимо для начала строительства?
                                </div>
                            </v-collapse>
                            <v-collapse class="faq-collapse">
                                <div class="faq-collapse__header">
                                    В какое время года лучше строить дом?
                                </div>
                            </v-collapse>
                            <v-collapse class="faq-collapse">
                                <div class="faq-collapse__header">
                                    Если у меня нет готовой проектной документации, но я хочу узнать стоимость
                                    строительства дома из каталога другой компании. Это возможно?
                                </div>
                            </v-collapse>
                            <v-collapse class="faq-collapse">
                                <div class="faq-collapse__header">
                                    Сколько времени занимает строительство дома
                                </div>
                            </v-collapse>
                        </div>
                        <div id="#individual-construction" class="faq__section"><h3 class="text-primary">
                            Об индивидуальном строительстве
                        </h3>
                            <v-collapse class="faq-collapse">
                                <div class="faq-collapse__header">
                                    Что необходимо для начала строительства?
                                </div>
                            </v-collapse>
                            <v-collapse class="faq-collapse">
                                <div class="faq-collapse__header">
                                    В какое время года лучше строить дом?
                                </div>
                            </v-collapse>
                            <v-collapse class="faq-collapse">
                                <div class="faq-collapse__header">
                                    Если у меня нет готовой проектной документации, но я хочу узнать стоимость
                                    строительства дома из каталога другой компании. Это возможно?
                                </div>
                            </v-collapse>
                            <v-collapse class="faq-collapse">
                                <div class="faq-collapse__header">
                                    Сколько времени занимает строительство дома
                                </div>
                            </v-collapse>
                        </div>
                        <div id="#delivery" class="faq__section"><h3 class="text-primary">
                            О доставке
                        </h3>
                            <v-collapse class="faq-collapse">
                                <div class="faq-collapse__header">
                                    Что необходимо для начала строительства?
                                </div>
                            </v-collapse>
                            <v-collapse class="faq-collapse">
                                <div class="faq-collapse__header">
                                    В какое время года лучше строить дом?
                                </div>
                            </v-collapse>
                            <v-collapse class="faq-collapse">
                                <div class="faq-collapse__header">
                                    Если у меня нет готовой проектной документации, но я хочу узнать стоимость
                                    строительства дома из каталога другой компании. Это возможно?
                                </div>
                            </v-collapse>
                            <v-collapse class="faq-collapse">
                                <div class="faq-collapse__header">
                                    Сколько времени занимает строительство дома
                                </div>
                            </v-collapse>
                        </div>
                        <div id="#garanty" class="faq__section"><h3 class="text-primary">
                            О гарантии
                        </h3>
                            <v-collapse class="faq-collapse">
                                <div class="faq-collapse__header">
                                    Что необходимо для начала строительства?
                                </div>
                            </v-collapse>
                            <v-collapse class="faq-collapse">
                                <div class="faq-collapse__header">
                                    В какое время года лучше строить дом?
                                </div>
                            </v-collapse>
                            <v-collapse class="faq-collapse">
                                <div class="faq-collapse__header">
                                    Если у меня нет готовой проектной документации, но я хочу узнать стоимость
                                    строительства дома из каталога другой компании. Это возможно?
                                </div>
                            </v-collapse>
                            <v-collapse class="faq-collapse">
                                <div class="faq-collapse__header">
                                    Сколько времени занимает строительство дома
                                </div>
                            </v-collapse>
                        </div>
                        <div id="#payment" class="faq__section"><h3 class="text-primary">
                            Об оплате
                        </h3>
                            <v-collapse class="faq-collapse">
                                <div class="faq-collapse__header">
                                    Что необходимо для начала строительства?
                                </div>
                            </v-collapse>
                            <v-collapse class="faq-collapse">
                                <div class="faq-collapse__header">
                                    В какое время года лучше строить дом?
                                </div>
                            </v-collapse>
                            <v-collapse class="faq-collapse">
                                <div class="faq-collapse__header">
                                    Если у меня нет готовой проектной документации, но я хочу узнать стоимость
                                    строительства дома из каталога другой компании. Это возможно?
                                </div>
                            </v-collapse>
                            <v-collapse class="faq-collapse">
                                <div class="faq-collapse__header">
                                    Сколько времени занимает строительство дома
                                </div>
                            </v-collapse>
                        </div>
                    </div>
                    <div class="col-lg-4 order-0 order-lg-1">
                        <ul class="faq__list mb-4">
                            <li><a href="#" class="link link_primary">
                                О строительстве
                            </a></li>
                            <li><a href="#" class="link link_primary">
                                Об индивидуальном строительстве
                            </a></li>
                            <li><a href="#" class="link link_primary">
                                О доставке
                            </a></li>
                            <li><a href="#" class="link link_primary">
                                О гарантии
                            </a></li>
                            <li><a href="#" class="link link_primary">
                                Об оплате
                            </a></li>
                        </ul>
                        <div class="faq__get-consultation d-none d-lg-block"><h3>Не нашли нужный ответ?</h3>
                            <button class="button button_primary">
                                ЗАДАТЬ ВОПРОС
                            </button>
                        </div>
                    </div>
                </div>
                <div class="faq__get-consultation d-lg-none d-block"><h3>Не нашли нужный ответ?</h3>
                    <button class="button button_primary">
                        ЗАДАТЬ ВОПРОС
                    </button>
                </div>
            </div>
        </div>
    {{/content}}
{{/extend}}
