<!doctype html>
<html lang="ru">
<head>
    <title>Главная</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="/assets/css/vendor.css">
    <link type="text/css" rel="stylesheet" href="/assets/css/app.css">
</head>
<body>
{{> partials/navbar }}
<div class="page {{ page-class }}">
    {{#block "page"}}{{/block}}
</div>
{{> partials/footer }}
{{> partials/feedback-modal }}
{{> partials/quiz-modal }}
<script src="/assets/js/manifest.js"></script>
<script src="/assets/js/vendor.js"></script>
<script src="/assets/js/app.js"></script>
</body>
</html>
