<!doctype html>
<html lang="ru">
<head>
    <title>Главная</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="/assets/css/vendor.css">
    <link type="text/css" rel="stylesheet" href="/assets/css/app.css">
</head>
<body>
<nav class="navbar">
    <div class="navbar__top">
        <div class="container">
            <div class="d-flex align-items-center justify-content-end"><i class="icon-location-pin"></i> <a
                    href="#" class="navbar__top-link">
                Карта строящихся объектов
            </a></div>
        </div>
    </div>
    <div class="navbar__middle">
        <div class="container">
            <div class="navbar__middle-content">
                <button class="button d-block d-lg-none me-2 button_navbar-sm"><i class="icon-menu-btn"></i>
                </button>
                <a href="/" aria-current="page"
                   class="navbar__logo"><img src="/assets/images/logo.svg" alt="">
                    <div class="navbar__logo-text">
                        <div>Строительство каркасных домов</div>
                        <div>ДОСТУПНО И КАЧЕСТВЕННО</div>
                    </div>
                </a>
                <div class="navbar__middle-btns-sm">
                    <button type="button" class="button me-2 button_navbar-sm"><i
                            class="icon-calculator"></i></button>
                    <button type="button" class="button button_navbar-sm"><i class="icon-find-house"></i>
                    </button>
                </div>
                <div class="navbar__middle-btns">
                    <button type="button" class="button me-xl-2 mb-2 mb-xl-0 button_primary" data-bs-toggle="modal"
                            data-bs-target="#quiz-modal">
                        Расчет Вашего проекта
                    </button>
                    <button type="button" class="button button_outline">
                        Посмотреть строящийся объект
                    </button>
                </div>
                <div class="navbar__middle-phone">
                    <a href="#"
                       class="link link_gray navbar__middle-phone-link">
                        +7 (812) 123 45 67
                    </a>
                    <button class="button button_link" data-bs-toggle="modal" data-bs-target="#feedback-modal">
                        Заказать звонок
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar__bottom">
        <div class="container">
            <button type="button" class="button button_navbar-close"><i class="icon-close"></i></button>
            <ul class="navbar__bottom-content">
                <li>
                    <div class="dropdown">
                        <div class="dropdown__toggle dropdown__toggle_caret"><a href="/about-company"
                                                                                class="navbar__bottom-link link link_dark">
                            О компании
                        </a></div> <!----></div>
                </li>
                <li><a href="/catalogue" class="navbar__bottom-link link link_dark">
                    Проекты
                </a></li>
                <li>
                    <div class="dropdown">
                        <div class="dropdown__toggle dropdown__toggle_caret"><a href="/for-client"
                                                                                class="navbar__bottom-link link link_dark">
                            Клиенту
                        </a></div> <!----></div>
                </li>
                <li>
                    <div class="dropdown">
                        <div class="dropdown__toggle dropdown__toggle_caret"><a href="/prices"
                                                                                class="navbar__bottom-link link link_dark">
                            Цены
                        </a></div> <!----></div>
                </li>
                <li><a href="/about-company/completed-projects" class="navbar__bottom-link link link_dark">
                    Реализованные проекты
                </a></li>
                <li><a href="/blog" class="navbar__bottom-link link link_dark">
                    Блог
                </a></li>
                <li><a href="/promotions" class="navbar__bottom-link link link_dark">
                    Акции
                </a></li>
                <li><a href="/contacts" class="navbar__bottom-link link link_dark">
                    Контакты
                </a></li>
            </ul>
            <button type="button" class="button mb-2 button_navbar-primary"><i
                    class="icon-location-pin"></i>
                Карта строящихся объектов
            </button>
            <a href="#" class="button button_navbar-secondary mb-2"><i class="icon-phone-in-talk"></i>
                +7 (812) 123 45 67
            </a>
            <button type="button" class="button mb-2 button_navbar-primary"><i
                    class="icon-phone-missed"></i>
                Заказать звонок
            </button>
        </div>
    </div>
</nav>
{{#block "page"}}
{{/block}}
<footer class="footer">
    <div class="container">
        <div class="footer__top">
            <div class="row gy-lg-0 gy-4 text-lg-start text-center">
                <div class="col-lg-3"><a href="/" aria-current="page"
                                         class=""
                ><img
                        src="/assets/images/footer/logo-footer.svg" alt=""></a>
                    <div class="footer__contacts"><a href="#"
                                                     class="footer__contacts-link link link_light"
                    ><i
                            class="icon-location"></i>
                        Санкт-Петербург,
                        ул. Белоостровская, 37
                    </a> <a href="tel:+7(812)-123-45-67" class="footer__contacts-link link link_light"
                    ><i class="icon-phone"></i>
                        +7 (812) 123 45 67
                    </a> <a href="mailto:info@company.ru" class="footer__contacts-link link link_light"
                    ><i class="icon-mail"></i>
                        info@company.ru
                    </a></div>
                </div>
                <div class="col-lg-2 col-6 d-none d-sm-block">
                    <div class="footer__group">
                        <div class="footer__group-title">
                            О компании
                        </div>
                        <a href="/about-company/services" aria-current="page"
                           class="footer__group-link"
                        >
                            Услуги
                        </a> <a href="/about-company/certifications" aria-current="page"
                                class="footer__group-link"
                    >
                        Сертификаты
                    </a> <a href="/about-company/reviews" aria-current="page"
                            class="footer__group-link"
                    >
                        Отзывы
                    </a> <a href="/about-company/partners" aria-current="page"
                            class="footer__group-link"
                    >
                        Партнеры
                    </a></div>
                </div>
                <div class="col-lg-2 col-6 d-none d-sm-block">
                    <div class="footer__group">
                        <div class="footer__group-title">
                            Клиенту
                        </div>
                        <a href="/for-client/documentation" aria-current="page"
                           class="footer__group-link"
                        >
                            Доставка
                        </a> <a href="/for-client/guarantee" aria-current="page"
                                class="footer__group-link"
                    >
                        Гарантии
                    </a> <a href="/for-client/faq" aria-current="page"
                            class="footer__group-link"
                    >
                        Вопросы и ответы
                    </a> <a href="/for-client/technologies" aria-current="page"
                            class="footer__group-link"
                    >
                        Технологии
                    </a> <a href="/for-client/documentation" aria-current="page"
                            class="footer__group-link"
                    >
                        Документации
                    </a></div>
                </div>
                <div class="col-lg-2 col-6 d-none d-sm-block">
                    <div class="footer__group">
                        <div class="footer__group-title">
                            Цены
                        </div>
                        <a href="/prices/loan" aria-current="page"
                           class="footer__group-link"
                        >
                            Кредит
                        </a> <a href="/prices/maternal-capital" aria-current="page"
                                class="footer__group-link"
                    >
                        Маткапитал
                    </a></div>
                </div>
                <div class="col-lg-3 col-6 d-none d-sm-block">
                    <div class="footer__other"><a href="/projects" aria-current="page"
                                                  class="footer__other-link"
                    >
                        Проекты
                    </a> <a href="/about-company/completed-projects" aria-current="page"
                            class="footer__other-link"
                    >
                        Реализованные проекты
                    </a> <a href="/blog" aria-current="page"
                            class="footer__other-link"
                    >
                        Блог
                    </a> <a href="/promotions" aria-current="page"
                            class="footer__other-link"
                    >
                        Акции
                    </a> <a href="/contacts" aria-current="page"
                            class="footer__other-link"
                    >
                        Контакты
                    </a></div>
                </div>
            </div>
        </div>
        <div class="footer__bottom">
            <div class="row gy-lg-0 gy-3 text-lg-start text-center">
                <div class="col-lg-9 order-lg-0 order-1">
                    © 2002 - 2021 Frame House
                </div>
                <div class="col-lg-3 order-lg-1 order-0"><a href="/" aria-current="page"
                                                            class="footer__bottom-privacy"
                >
                    Политика конфиденциальности
                </a></div>
            </div>
        </div>
    </div>
</footer>
{{> partials/feedback-modal }}
{{> partials/quiz-modal }}
<script src="/assets/js/manifest.js"></script>
<script src="/assets/js/vendor.js"></script>
<script src="/assets/js/app.js"></script>
</body>
</html>
