<extends src="default.html">
    <block name="page">
        <div class="prices">
            <div class="container"><h2>
                Стоимость строительства дома
            </h2>
                <div class="prices__header">
                    <div class="row">
                        <div class="col-lg-8 order-1 order-lg-0">
                            <div class="prices__header-text">
                                Стоимость строительства дома определяется исходя из объема используемых материалов и
                                стоимости этих
                                материалов, а также работ по их монтажу, накладных услуг, включает в себя сервисный
                                сбор
                                (техническое сопровождение, инженерный контроль, первое ТО, онлайн контроль и т.д.).
                                По
                                итогам
                                выполнения проектных работ предоставляются подробные сметы с описанием этапности
                                работ,
                                используемой
                                номенклатуры материалов и перечня работ, укрупненные позиции по выполняемым работам
                                и полной
                                суммой
                                этих работ.
                            </div>
                            <div class="prices__header-btn-group"><h5>
                                Все дома представлены в следующих комплектациях
                            </h5>
                                <div class="prices__header-btns">
                                    <div class="prices__header-btn">
                                        <button class="button w-100 button_outline">
                                            Под ключ
                                        </button>
                                    </div>
                                    <div class="prices__header-btn">
                                        <button class="button w-100 button_outline">
                                            Закрытый контур
                                        </button>
                                    </div>
                                    <div class="prices__header-btn">
                                        <button class="button w-100 button_outline">
                                            Силовой каркас
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 order-0 order-lg-1"><img src="/assets/images/site/prices/house.jpg" alt
                                                                      class="w-100"></div>
                    </div>
                </div>
                <div class="prices__cards">
                    <div class="row gap-3 gap-lg-0">
                        <div class="col-lg-6">
                            <div class="prices__cards-item">
                                <div>
                                    <div class="icon-wrap prices__cards-item-img"><i class="icon-loan"></i></div>
                                    <div class="prices__cards-item-title">
                                        Кредит
                                    </div>
                                    <div class="prices__cards-item-text">
                                        Кредит на загородный дом поможет сразу стать собственником недвижимости,
                                        отказаться
                                        от аренды или улучшить жилищные условия. Компания Frame House поможет Вам
                                        получить
                                        кредит на строительство в наших банках-партнерах
                                    </div>
                                </div>
                                <button class="button button_outline">
                                    УТОЧНИТЬ УСЛОВИЯ
                                </button>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="prices__cards-item">
                                <div>
                                    <div class="icon-wrap prices__cards-item-img"><i class="icon-emblem"></i></div>
                                    <div class="prices__cards-item-title">
                                        Материнский капитал
                                    </div>
                                    <div class="prices__cards-item-text">
                                        Поможем со сбором и оформлением документов на мат капитал под строительство
                                        дома,
                                        объясним все нюансы его получения. С нами Вы сможете быстро и выгодно
                                        улучшить
                                        жилищные
                                        условия, обеспечить своей семье комфортное проживание в течение долгих лет
                                    </div>
                                </div>
                                <button class="button button_outline">
                                    ПОДРОБНЕЕ
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="house-selection">
                    <div class="house-selection__content">
                        <div><h2><span>Подберем и построим</span>
                            проект стильного каркасного дома под Ваш бюджет
                        </h2>
                            <div class="house-selection__description">
                                Ответьте <b>на 5 вопросов</b> и получите список подходящих для Вас
                                домов и бонус от нас
                            </div>
                        </div>
                        <div>
                            <div class="house-selection__button-label">
                                Вам понадобится не более одной минуты на ответы
                            </div>
                            <button class="button house-selection__button button_primary">
                                ПОДОБРАТЬ ДОМ
                            </button>
                        </div>
                    </div>
                </div>
                <div class="prices__engineering"><h3 class="text-primary">
                    Цены на инженерные сети
                </h3>
                    <div class="row">
                        <div class="col-xl-7 col-lg-6"><img src="/assets/images/site/prices/engineering.jpg" alt
                                                            class="w-100"></div>
                        <div class="col-xl-5 col-lg-6">
                            <div class="prices__engineering-text">
                                В каждом готовом проекте учтена стоимость базовой комплектации инженерный сетей.
                                Исходя из
                                проекта и пожеланий заказчики можно изменить или отказаться от инженерных сетей
                            </div>
                            <div class="prices__engineering-cost">
                                <div>
                                    Средняя стоимость инженерии с учетом работ и материалов за 1 м2
                                </div>
                                <div class="prices__engineering-price">
                                    2 425 Р
                                </div>
                            </div>
                            <button class="button button_primary">
                                РАССЧИТАТЬ СТОИМОСТЬ
                            </button>
                        </div>
                    </div>
                </div>
                <div class="prices__house-cards">
                    <div class="row gap-3 gap-lg-0">
                        <div class="col-lg-6">
                            <div class="prices__house-card choose-project"><img
                                    src="/assets/images/site/prices/house.jpg"
                                    alt class="w-100">
                                <div class="prices__house-card-btn-wrap">
                                    <button class="button button_white">
                                        ВЫБРАТЬ ГОТОВЫЙ ПРОЕКТ
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="prices__house-card calc-project"><img
                                    src="/assets/images/site/prices/white-house.jpg" alt class="w-100">
                                <div class="prices__house-card-btn-wrap">
                                    <button class="button button_white">
                                        РАССЧИТАТЬ СВОЙ ПРОЕКТ
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="get__consultation"><img src="/assets/images/site/for-client/consultation.png"
                                                    alt="">
                    <div class="get__consultation-content">
                        <div class="get__consultation-text"><h3>Получите
                            консультацию</h3>
                            Консультация эксперта с 10 летним стажем
                        </div>
                        <button type="button" class="button button_primary">
                            ПОЛУЧИТЬ КОНСУЛЬТАЦИЮ
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </block>
</extends>
