{{#extend "layouts/default" title="Цены"}}
{{#content "page"}}
<div class="maternal-capital">
    <div class="container">
        <div class="prices-header" data-v-115b6810>
            <div class="prices-header__text" data-v-115b6810>
                <div class="mb-3" data-v-115b6810>
                    <h2 data-v-115b6810>
                        Обменяйте сертификат материнского капитала на собственный
                        дом
                    </h2>
                    Меньше чем за 2 месяца
                </div>
                <div data-v-115b6810>
                    <button
                            class="button prices-header__btn button_primary"
                            data-v-115b6810
                    >
                        ПОЛУЧИТЬ КОНСУЛЬТАЦИЮ
                    </button>
                </div>
            </div>
            <div class="prices-header__img" data-v-115b6810>
                <i class="icon-maternal-capital" data-v-115b6810></i>
            </div>
        </div>
        <div class="maternal-capital__body">
            <div class="row">
                <div class="col-lg-8 order-1 order-lg-0">
                    <div class="maternal-capital__section">
                        <h3 class="text-primary">
                            Как использовать материнский капитал для строительства
                            дома?
                        </h3>
                        <div>
                            Постройка дома на участке будет выступать в качестве
                            улучшения условий проживания. Материнский капитал —
                            является мерой государственной поддержки семей России.
                            Реализовать сертификат на получение семейного капитала
                            следует строго в рамках закона.
                            <br /><br />
                            Если ребенку, чье рождение позволило вам получить
                            семейный капитал, уже исполнилось 3 года, вы можете
                            приступить к реализации плана по постройке дома для всей
                            семьи.
                        </div>
                    </div>
                    <div class="maternal-capital__section">
                        <h3 class="text-primary">
                            Что нужно сделать, чтобы купить дом за маткапитал?
                        </h3>
                    </div>
                    <div class="maternal-capital__section">
                        <h5 class="text-primary">
                            Собрать документы
                        </h5>
                        <ul class="list">
                            <li class="list-item">
                                <i class="icon-check-mark"></i>
                                Паспорт гражданина, на чье имя оформлен сертификат
                            </li>
                            <li class="list-item">
                                <i class="icon-check-mark"></i>
                                Дубликат сертификата материнского капитала
                            </li>
                            <li class="list-item">
                                <i class="icon-check-mark"></i>
                                Разрешение на выполнение строительных работ или
                                уведомление о предполагаемом сооружении объекта
                                индивидуального жилого строительства
                            </li>
                            <li class="list-item">
                                <i class="icon-check-mark"></i>
                                Документ, подтверждающий право собственности на
                                земельный участок, где будет возводиться объект;
                            </li>
                            <li class="list-item">
                                <i class="icon-check-mark"></i>
                                Договор с подрядчиком на выполнение строительных работ
                                в трех экземплярах.
                            </li>
                        </ul>
                    </div>
                    <div class="maternal-capital__section">
                        <h5 class="text-primary">
                            Подать заявление в пенсионный фонд
                        </h5>
                        <ul class="list">
                            <li class="list-item">
                                <i class="icon-check-mark"></i>
                                Заполнить специальную форму-заявление;
                            </li>
                            <li class="list-item">
                                <i class="icon-check-mark"></i>
                                Подать пакет документов: договор строительного
                                подряда, копию разрешения на строительство, копию
                                документа о праве собственности на земельный участок,
                                обязательство, что все члены семьи будут в равной
                                степени владеть построенным объектом после его сдачи;
                            </li>
                            <li class="list-item">
                                <i class="icon-check-mark"></i>
                                Получить расписку с регистрационным номером;
                            </li>
                            <li class="list-item">
                                <i class="icon-check-mark"></i>
                                Дождаться решения, которое принимается в течение 2–4
                                недель.
                            </li>
                        </ul>
                    </div>
                    <div class="maternal-capital__section">
                        <h5 class="text-primary">
                            Перечислить средства подрядчику
                        </h5>
                        <div>
                            Если все документы правильно оформлены и получено
                            положительное решение, средства обычно перечисляются в
                            течение 1,5 месяца. Сумма, выделенная на строительство,
                            после заключения договора замораживается.
                        </div>
                    </div>
                    <div class="maternal-capital__section">
                        <h5 class="text-primary">
                            Принять выполненные работы
                        </h5>
                        <div>
                            Когда строительство будет завершено, заказчик должен
                            осмотреть объект и подписать акт выполненных работ. Этот
                            документ, подтверждающий факт сооружения дома,
                            необходимо подать в пенсионный фонд. Если итоговая сумма
                            затрат оказалась больше размера материнского капитала,
                            разница доплачивается после окончания работ.
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 order-0 order-lg-1">
                    <img
                            src="/images/site/maternal-capital/maternal-capital.jpg"
                            alt
                            class="d-lg-block d-none w-100"
                    />
                    <img
                            src="/images/site/maternal-capital/maternal-capital-sm.jpg"
                            alt
                            class="d-lg-none d-block w-100"
                    />
                </div>
            </div>
        </div>
        <div class="get__consultation" data-v-57749d49>
            <img
                    src="/images/site/for-client/consultation.png"
                    alt=""
                    data-v-57749d49
            />
            <div class="get__consultation-content" data-v-57749d49>
                <div class="get__consultation-text" data-v-57749d49>
                    <h3 data-v-57749d49>Получите консультацию</h3>
                    Консультация эксперта с 10 летним стажем
                </div>
                <button
                        type="button"
                        class="button button_primary"
                        data-v-57749d49
                >
                    ПОЛУЧИТЬ КОНСУЛЬТАЦИЮ
                </button>
            </div>
        </div>
    </div>
</div>
{{/content}}
{{/extend}}
