.breadcrumbs {
    list-style: none;
    display: flex;
    padding: 0;
    margin-bottom: 44px;
    flex-wrap: wrap;
    overflow-x: auto;

    @include media-breakpoint-down(md) {
        font-size: 14px;
        white-space: nowrap;
        margin-bottom: 25px;
    }

    .breadcrumbs__item:not(:last-child) {
        margin-right: 40px;
        position: relative;

        @include media-breakpoint-down(sm) {
            margin-right: 20px;
        }

        &::after {
            content: '>';
            position: absolute;
            right: -24px;
            color: $dark;

            @include media-breakpoint-down(sm) {
                right: -14px;
            }
        }
    }

    .breadcrumbs__link {
        text-decoration: none;
        color: $dark;

        &:hover {
            color: $primary;
        }
    }

    .breadcrumbs__item:last-child {
        color: #CCC;
    }
}
