.completed-projects-block {
    padding: 100px 0;
    @include media-breakpoint-down(lg) {
        padding: 64px 0;
    }
}

.completed-projects-block__button {
    @include media-breakpoint-down(md) {
        font-size: 12px;
        line-height: 12px;
        padding: 8px 5px;
    }
}

.completed-projects-block__items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 32px;

    @include media-breakpoint-down(lg) {
        grid-auto-flow: column;
        grid-template-columns: unset;
        grid-auto-columns: 90%;
        grid-gap: 8px;
        overflow: auto;
    }
}

.completed-projects-block__text {
    font-size: 22px;
    margin-bottom: 60px;
    @include media-breakpoint-down(md) {
        margin-bottom: 24px;
    }
}
