.filter-modal__title {
    padding: 15px;
    background: $linear-gradient;
    display: flex;
    align-items: center;

    button {
        background: white;
    }
}

.filter-modal__body {
    padding: 15px;

    hr {
        color: $border-color;
        opacity: 1;
    }

    .filter-modal__body-item {
        .d-flex {
            gap: 8px 32px;
        }
    }

    button {
        width: 100%;
        padding: 12px;
    }

    .filter-modal__input-wrapper {
        display: flex;
        align-items: center;
        grid-gap: 4px;
        color: $border-color;

        .input__input {
            border-color: $border-color;
        }
    }
}
