.filter__title {
    padding: 15px;
    background: $linear-gradient;
    display: flex;
    align-items: center;

    button {
        background: white;
    }
}

.filter__icon {
    margin-right: 10px;
}

.filter__body {
    padding: 15px;

    hr {
        color: $border-color;
        opacity: 1;
    }
}

.filter__checkpoints {
    display: flex;
    flex-wrap: wrap;

    & > * {
        margin-right: 32px;
        margin-bottom: 8px;
    }
}