.item-promo {
    font-size: 20px;
    font-weight: bold;
    height: 104px;
    background: linear-gradient(180deg, rgba(243, 238, 217, 0.1) -72.27%, rgba(130, 30, 39, 0.1) 145.18%);
    border: 1px solid $border-color;
    overflow: hidden;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 30px;
    position: relative;

    .item-promo__box {
        width: 174px;
        height: 174px;
        right: -30px;
        position: absolute;
        transform: rotate(15deg);
        background: radial-gradient(109.82% 109.82% at 33.93% 38.39%, #C02836 0%, #821E27 100%), #821E27;
        border-radius: 30px;

        @include media-breakpoint-down(md) {
            right: -90px;
        }
    }

    .item-promo__percent {
        position: absolute;
        font-size: 103px;
        right: 20px;
        color: white;

        @include media-breakpoint-down(md) {
            right: -20px;
        }
    }

    .item-promo__percent_right {
        color: $primary;
        font-size: 154px;
        position: absolute;
        right: -10px;

        @include media-breakpoint-down(md) {
            right: -20px;
            font-size: 103px;
        }
    }
}
