.projects-on-map {
    position: relative;

    .projects-on-map__map {
        position: relative;
        min-height: 560px;
        border-radius: 5px;
        overflow: hidden;

        @include media-breakpoint-down(md) {
            margin: 0 -15px;
            width: calc(100% + 30px);
        }

        [class*="ground-pane"] {
            filter: brightness(0.7);
        }
    }
}

.projects-on-map-form {
    position: absolute;
    right: 72px;
    top: 50%;
    transform: translate(0, -50%);
    width: 350px;
    margin: 0 0 0 auto;
    text-align: center;
    background: rgba(255, 255, 255, 0.68);
    border: 1px solid $border-color;
    box-shadow: 0 9px 13px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(29px);
    border-radius: 5px;
    padding: 30px;

    @include media-breakpoint-down(lg) {
        position: relative;
        right: auto;
        top: auto;
        transform: translate(0);
        width: 100%;
        margin: -100px auto 0;
    }

    h4 {
        margin-bottom: 14px;
    }

    button {
        height: 48px;
    }

    .projects-on-map-form__agreement {
        text-align: left;
        font-size: 10px;
        line-height: 14px;
        color: $gray;
    }
}

.project-map-card {
    position: fixed;
    top: 15px;
    left: 15px;
    border-radius: 5px;
    padding: 2px;
    background: white;
    display: flex;
    flex-direction: column;
    width: 200px;

    @include media-breakpoint-down(md) {
    }

    @include media-breakpoint-down(sm) {
        flex-direction: row;
    }

    .project-map-card__close {
        position: absolute;
        top: 2px;
        right: 2px;
        width: 22px;
        height: 22px;
        font-size: 12px;
        background: linear-gradient(225deg, #00000042, transparent);
        border: none;
        color: white;
        border-radius: 5px;
    }

    .project-map-card__img {
        border-radius: 5px;

        @include media-breakpoint-down(sm) {
            width: 100px;
            height: 100px;
        }
    }

    .project-map-card__info {
        font-size: 10px;
        line-height: 14px;
        padding: 8px;

        span {
            color: $primary;
            font-size: 12px;
            font-weight: bold;
        }
    }
}