.projects-on-map {
    position: relative;

    .projects-on-map__map {
        padding: 24px;
        position: relative;
        border-radius: 5px;
        min-height: 560px;

        iframe {

            position: absolute;
            top: 0;
            left: 0;
        }

        .projects-on-map__card {
            position: absolute;
            border-radius: 5px;
            padding: 2px;
            background: white;
            display: flex;
            flex-direction: column;
            @include media-breakpoint-down(sm) {
                flex-direction: row;
            }

            img {
                border-radius: 5px;
                width: 100%;
                @include media-breakpoint-down(sm) {
                    width: auto;
                }
            }

            .projects-on-map__card-info {
                font-size: 10px;
                padding: 8px;

                span {
                    color: $primary;
                    font-size: 12px;
                    font-weight: bold;
                }
            }
        }

    }

    .projects-on-map__form {
        position: absolute;
        right: 72px;
        top: 50%;
        transform: translate(0, -50%);
        width: 350px;
        margin: 0 0 0 auto;
        text-align: center;
        background: rgba(255, 255, 255, 0.68);
        border: 1px solid $border-color;
        box-shadow: 0 9px 13px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(29px);
        border-radius: 5px;
        padding: 30px;

        @include media-breakpoint-down(xl) {
            position: relative;
            right: auto;
            top: auto;
            margin: 0 auto;
            transform: translate(0, -20%);
        }
        @include media-breakpoint-down(sm) {
            width: auto;
            margin: 0 16px;
        }

        h4 {
            margin-bottom: 14px;
        }

        button {
            height: 48px;
        }

        .projects-on-map__agreement {
            text-align: left;
            font-size: 10px;
            line-height: 14px;

            &.gray {
                color: $gray;
            }

            &.primary {
                color: $primary;
            }
        }
    }
}
