{{#extend "layouts/default"}}
    {{#content "page"}}
        <div class="review">
            <div class="container"><h2>
                Отзывы
            </h2>
                <div class="review__cards">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="review__card">
                                <div class="review__card-header">
                                    <div class="review__card-title">
                                        Каркасный дом по индивидуальному проекту
                                    </div>
                                    <div class="review__card-header-links"><a href="#"
                                                                              class="link link_gray"
                                    >Посмотреть
                                        реализованный проект</a></div>
                                </div>
                                <div class="review__card-info">
                                    <div>
                                        Комплектация: <span>под ключ</span></div>
                                    <div>
                                        Общая площадь: <span>192 м2</span></div>
                                </div>
                                <hr>
                                <div class="review__card-text">
                                    Хотим поблагодарить компанию «Frame House» за качественное и быстрое
                                    строительство дома
                                    для
                                    всесезонного проживания. Поставка всех материалов осуществлялась вовремя, четко
                                    и в
                                    соответствии с договором и техзаданием. Срок строительства – 1 месяц. Дом 2-х
                                    этажный
                                    (второй этаж - мансардный), построен по каркасной технологии на винтовых сваях,
                                    с
                                    наружной
                                    отделкой и под чистовую отделку внутри. Бригада из 3-х человек работала грамотно
                                    и
                                    хорошо.
                                    Проект дома разрабатывали в этой же компании (архитектор Ирина Иванова).
                                    Выражаем свою признательность Генеральному директору компании «Frame House» за
                                    внимательное
                                    отношение к заказчику, за грамотные и четкие ответы на все наши вопросы, за
                                    полезные
                                    советы.
                                    Рады, что не ошиблись в выборе строительной компании и готовы рекомендовать
                                    «Frame
                                    House»
                                    желающим построить свой дом.
                                </div>
                                <div class="review__card-files"><a href class="link link_gray"
                                ><i
                                        class="icon-adobe"></i> <span>
                                    Посмореть скан письма
                                </span></a></div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="review__card">
                                <div class="review__card-header">
                                    <div class="review__card-title">
                                        Каркасный дом по индивидуальному проекту
                                    </div>
                                    <div class="review__card-header-links"><a href="#"
                                                                              class="link link_gray mb-2"
                                    >
                                        Посмотреть реализованный проект
                                    </a> <a href="#" class="link link_gray">
                                        Посмотреть проект
                                    </a></div>
                                </div>
                                <div class="review__card-info">
                                    <div>
                                        Комплектация: <span>под ключ</span></div>
                                    <div>
                                        Общая площадь: <span>192 м2</span></div>
                                </div>
                                <div class="review__card-video">
                                    <div class="review__card-video-wrap"></div>
                                    <i class="icon-play"></i></div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="review__card">
                                <div class="review__card-header">
                                    <div class="review__card-title">
                                        Каркасный дом по индивидуальному проекту
                                    </div>
                                    <div class="review__card-header-links"><a href="#"
                                                                              class="link link_gray mb-2"
                                    >
                                        Посмотреть реализованный проект
                                    </a> <a href="#" class="link link_gray">
                                        Посмотреть проект
                                    </a></div>
                                </div>
                                <div class="review__card-info">
                                    <div>
                                        Комплектация: <span>под ключ</span></div>
                                    <div>
                                        Общая площадь: <span>192 м2</span></div>
                                </div>
                                <div class="review__card-video">
                                    <div class="review__card-video-wrap"></div>
                                    <i class="icon-play"></i></div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="review__card">
                                <div class="review__card-header">
                                    <div class="review__card-title">
                                        Каркасный дом по индивидуальному проекту
                                    </div>
                                    <div class="review__card-header-links"><a href="#"
                                                                              class="link link_gray mb-2"
                                    >
                                        Посмотреть реализованный проект
                                    </a> <a href="#" class="link link_gray">
                                        Посмотреть проект
                                    </a></div>
                                </div>
                                <div class="review__card-info">
                                    <div>
                                        Комплектация: <span>под ключ</span></div>
                                    <div>
                                        Общая площадь: <span>192 м2</span></div>
                                </div>
                                <div class="review__card-video">
                                    <div class="review__card-video-wrap"></div>
                                    <i class="icon-play"></i></div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="review__card">
                                <div class="review__card-header">
                                    <div class="review__card-title">
                                        Каркасный дом по индивидуальному проекту
                                    </div>
                                    <div class="review__card-header-links"><a href="#"
                                                                              class="link link_gray mb-2"
                                    >
                                        Посмотреть реализованный проект
                                    </a> <a href="#" class="link link_gray">
                                        Посмотреть проект
                                    </a></div>
                                </div>
                                <div class="review__card-info">
                                    <div>
                                        Комплектация: <span>под ключ</span></div>
                                    <div>
                                        Общая площадь: <span>192 м2</span></div>
                                </div>
                                <hr>
                                <div class="review__card-text">
                                    Хотим поблагодарить компанию «Frame House» за качественное и быстрое
                                    строительство дома
                                    для
                                    всесезонного проживания. Поставка всех материалов осуществлялась вовремя, четко
                                    и в
                                    соответствии с договором и техзаданием. Срок строительства – 1 месяц. Дом 2-х
                                    этажный
                                    (второй этаж - мансардный), построен по каркасной технологии на винтовых сваях,
                                    с
                                    наружной
                                    отделкой и под чистовую отделку внутри. Бригада из 3-х человек работала грамотно
                                    и
                                    хорошо.
                                    Проект дома разрабатывали в этой же компании (архитектор Ирина Иванова).
                                    Выражаем свою признательность Генеральному директору компании «Frame House» за
                                    внимательное
                                    отношение к заказчику, за грамотные и четкие ответы на все наши вопросы, за
                                    полезные
                                    советы.
                                    Рады, что не ошиблись в выборе строительной компании и готовы рекомендовать
                                    «Frame
                                    House»
                                    желающим построить свой дом.
                                </div>
                                <div class="review__card-files"><a href class="link link_gray"
                                ><i
                                        class="icon-adobe"></i> <span>
                                    Посмореть скан письма
                                </span></a></div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="review__card">
                                <div class="review__card-header">
                                    <div class="review__card-title">
                                        Каркасный дом по индивидуальному проекту
                                    </div>
                                    <div class="review__card-header-links"><a href="#"
                                                                              class="link link_gray mb-2"
                                    >
                                        Посмотреть реализованный проект
                                    </a> <a href="#" class="link link_gray">
                                        Посмотреть проект
                                    </a></div>
                                </div>
                                <div class="review__card-info">
                                    <div>
                                        Комплектация: <span>под ключ</span></div>
                                    <div>
                                        Общая площадь: <span>192 м2</span></div>
                                </div>
                                <div class="review__card-video">
                                    <div class="review__card-video-wrap"></div>
                                    <i class="icon-play"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="button button-show-more button_outline"><i class="icon-show-more"
                ></i>
                    Показать еще
                </button>
                <div class="get__consultation"><img
                        src="/assets/images/site/for-client/consultation.png" alt="">
                    <div class="get__consultation-content">
                        <div class="get__consultation-text"><h3>Получите
                            консультацию</h3>
                            Консультация эксперта с 10 летним стажем
                        </div>
                        <button type="button" class="button button_primary">
                            ПОЛУЧИТЬ КОНСУЛЬТАЦИЮ
                        </button>
                    </div>
                </div>
            </div>
        </div>
    {{/content}}
{{/extend}}