{{#extend "layouts/default" title="Отзывы"}}
    {{#content "page"}}
        <div class="review">
            <div class="container">
                <ul class="breadcrumbs">
                    <li class="breadcrumbs__item"><a href="/" class="breadcrumbs__link">
                        Главная
                    </a></li>
                    <li class="breadcrumbs__item">
                        <a href="/about-company" class="breadcrumbs__link">
                            О компании
                        </a>
                    </li>
                    <li class="breadcrumbs__item">Отзывы</li>
                </ul>
                <h1>
                    Отзывы
                </h1>
                <div class="review__cards">
                    {{> partials/review-card }}
                    {{> partials/review-card }}
                    {{> partials/review-card }}
                    {{> partials/review-card }}
                    {{> partials/review-card }}
                    {{> partials/review-card }}
                </div>
                <div class="text-center mt-5">
                    <button class="button button_outline col-12 col-md-4">
                        <i class="icon-show-more button__icon"></i>
                        Показать еще
                    </button>
                </div>
                <div class="get-consultation mt-5"><img
                        src="/assets/images/site/for-client/consultation.webp" alt="">
                    <div class="get-consultation__content">
                        <div class="get-consultation__text">
                            <h3>Получите консультацию</h3>
                            Консультация эксперта с 10 летним стажем
                        </div>
                        <button type="button" class="button button_primary" data-bs-toggle="modal"
                                data-bs-target="#feedback-modal">
                            ПОЛУЧИТЬ КОНСУЛЬТАЦИЮ
                        </button>
                    </div>
                </div>
            </div>
        </div>
    {{/content}}
{{/extend}}
