{{#extend "layouts/default" title="Отзывы"}}
    {{#content "page"}}
        <div class="review">
            <div class="container">
                <h1>
                    Отзывы
                </h1>
                <div class="review__cards">
                    {{> partials/review-card }}
                    {{> partials/review-card }}
                    {{> partials/review-card }}
                    {{> partials/review-card }}
                    {{> partials/review-card }}
                    {{> partials/review-card }}
                </div>
                <button class="button button_outline mx-auto mt-5 col-12 col-md-4">
                    <i class="icon-show-more button__icon"></i>
                    Показать еще
                </button>
                <div class="get__consultation mt-5"><img
                        src="/assets/images/site/for-client/consultation.png" alt="">
                    <div class="get__consultation-content">
                        <div class="get__consultation-text">
                            <h3>Получите консультацию</h3>
                            Консультация эксперта с 10 летним стажем
                        </div>
                        <button type="button" class="button button_primary">
                            ПОЛУЧИТЬ КОНСУЛЬТАЦИЮ
                        </button>
                    </div>
                </div>
            </div>
        </div>
    {{/content}}
{{/extend}}