{{#extend "layouts/default" title="Смета"}}
    {{#content "page"}}
        <div class="estimate">
            <div class="container">
                <ul class="breadcrumbs">
                    <li class="breadcrumbs__item"><a href="/" class="breadcrumbs__link">
                        Главная
                    </a></li>
                    <li class="breadcrumbs__item">
                        <a href="/for-client" class="breadcrumbs__link">
                        Клиенту
                    </a>
                    </li>
                    <li class="breadcrumbs__item">Прозрачная развернутая смета</li>
                </ul>
                <h1>
                    Прозрачная развернутая смета
                </h1>
                <div class="row">
                    <div class="col-lg-8 order-1 order-lg-0">
                        <div class="estimate__text"><p>
                            Строительство дома или постройки начинается с выполнения расчёта и составления сметы, с
                            учетом
                            используемых материалов, выполненных работ и стоимости аренды специального оборудования.
                            Именно
                            поэтому в строительстве принято использовать смету, которая четко отображает финансовые
                            затраты на
                            возведение конкретного объекта.
                        </p>
                            <p>
                                Развернутая смета – это полный пакет сметной документации, который готовится в
                                соответствии
                                со
                                стандартной формой, утвержденной законодательством. Поскольку стандартные формы
                                составляются
                                в
                                соответствии со сметными нормативами на основе стандартизованных технологических
                                карт и
                                калькуляций,
                                этот метод еще более удобен для работы с различными сметами и для их корректного
                                сравнения.
                                При
                                формировании развернутой сметы используются стандартные технические условия на
                                различные
                                виды работ
                                и стандартные нормативы на использование тех или иных материалов.
                            </p>
                            <p>
                                В этом случае используется самые свежие данные по материалам и технологиям. Возможно
                                использование
                                данных по самым новым технологическим решениям.
                            </p>
                            <p>
                                Особое удобство развернутой сметы – это простая, понятная и стандартизованная форма
                                подачи
                                документации, что существенно облегчает сравнение. Она позволяет очень детально
                                отражать не
                                только
                                стоимость всех расходных материалов, но и прочие расходы, связанные как с
                                возведением
                                основного
                                объекта, так и с обустройством дополнительных технических построек.
                            </p></div>
                        <button type="button" class="button button_white col-12 col-md-5">
                            <i class="icon-adobe button__icon"></i>
                            Образец сметы
                        </button>
                    </div>
                    <div class="col-lg-4 order-0 order-lg-1"><img src="/assets/images/site/estimate/estimate.jpg" alt
                                                                  class="d-lg-block d-none w-100"> <img
                            src="/assets/images/site/estimate/estimate-sm.jpg" alt class="d-lg-none d-block w-100">
                    </div>
                </div>
            </div>
        </div>
    {{/content}}
{{/extend}}
