{{#extend "layouts/default" title="Контакты"}}
    {{#content "page"}}
        <div class="contacts">
            <div class="container">
                <h1>Наши контакты</h1>
                <div class="contacts__info">
                    <div class="row">
                        <div class="col-md-6 order-md-0 order-1">
                            <div class="contacts__info-text"><p>
                                Хотите заказать проект дома мечты, рассчитать стоимость реализации уже существующего
                                или
                                просто пообщаться и задать вопрос?
                            </p>
                                <p>
                                    Пишите письма, звоните или заходите в гости
                                </p></div>
                            <div class="contacts__info-group">
                                <div class="contacts__info-item mb-0"><i class="icon-phone"
                                ></i>
                                    <div>
                                        <div class="contacts__label">
                                            Телефон
                                        </div>
                                        <div class="contacts__info-item-text"><a href="#"
                                                                                 class="link link_dark"
                                        >+7
                                            (812) 123 45 67</a></div>
                                    </div>
                                </div>
                                <div class="contacts__info-item"><i class="icon-mail mt-4"
                                ></i>
                                    <div class="d-flex flex-wrap">
                                        <div class="me-4 mt-4">
                                            <div class="contacts__label">
                                                Напишите нам
                                            </div>
                                            <div class="contacts__info-item-text"><a href="#"
                                                                                     class="link link_dark"
                                            >
                                                info@company.ru
                                            </a></div>
                                        </div>
                                        <div class="mt-4">
                                            <div class="contacts__label">
                                                По вопросам сотрудничества
                                            </div>
                                            <div class="contacts__info-item-text"><a href="#"
                                                                                     class="link link_dark"
                                            >
                                                partner@company.ru
                                            </a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="contacts__info-item"><i class="icon-location"
                                ></i>
                                    <div>
                                        <div class="contacts__label">
                                            Адрес
                                        </div>
                                        <div class="contacts__info-item-text">
                                            Санкт-Петербург, ул. Белоостровская, 37
                                        </div>
                                    </div>
                                </div>
                                <div class="contacts__info-item mb-5"><i class="icon-work-time"
                                ></i>
                                    <div>
                                        <div class="contacts__label">
                                            Время работы
                                        </div>
                                        <div class="contacts__info-item-text">
                                            с 09.00 до 20.00 ежедневно
                                        </div>
                                    </div>
                                </div>
                                <div class="contacts__info-social">
                                    <div class="contacts__label">
                                        Мы также в социальных сетях
                                    </div>
                                    <a href="#" class="link"><i class="icon-instagram"
                                    ></i></a> <a href="#"
                                                 class="link"
                                ><i
                                        class="icon-vk"></i></a></div>
                            </div>
                        </div>
                        <div class="col-md-6 order-md-1 order-0 mb-4 mb-md-0"><img
                                src="/assets/images/site/contacts/office.jpg" alt></div>
                    </div>
                </div>
                <div class="contacts__map"><h3 class="text-primary">
                    К нам удобно добираться и личным и общественным транспортом
                </h3>
                    <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Acf65ce796d7d56dd650269346547255a6dff65dc14241ced0b2f8cfd0286cf6e&source=constructor"
                            width="100%" height="328" frameborder="0"></iframe>
                </div>
                <div class="contacts__requisites"><h3 class="text-primary">
                    Реквизиты компании
                </h3>
                    <div class="row">
                        <div class="col-xl-4 col-md-6">
                            <div class="mb-4">
                                <div class="contacts__label">
                                    Организация
                                </div>
                                Frame House
                            </div>
                            <div class="mb-4">
                                <div class="contacts__label">
                                    Юридический адрес и фактический адрес
                                </div>
                                Санкт-Петербург, ул. Белоостровская, 37
                            </div>
                            <div class="mb-4">
                                <div class="contacts__label">
                                    ИНН / КПП
                                </div>
                                1234567890 / 987654321
                            </div>
                            <div class="mb-md-0 mb-4">
                                <div class="contacts__label">
                                    ОГРН
                                </div>
                                1137746799587
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6">
                            <div class="mb-4">
                                <div class="contacts__label">
                                    Банк
                                </div>
                                ПАО Сбербанк г. Санкт-Петербург
                            </div>
                            <div class="mb-4">
                                <div class="contacts__label">
                                    р/c
                                </div>
                                40712345670987654321
                            </div>
                            <div class="mb-4">
                                <div class="contacts__label">
                                    БИК
                                </div>
                                456781234
                            </div>
                            <div>
                                <div class="contacts__label">
                                    к/c
                                </div>
                                30134576409876512340
                            </div>
                        </div>
                    </div>
                </div>
                <div class="send-order contacts__send-order">
                    <div class="row align-items-center justify-content-lg-between flex-column flex-lg-row"
                    >
                        <div class="col-lg-4 mb-3 mb-lg-0"><h3 class="mb-2" data-v-3b394674
                        >
                            Заказать
                        </h3>
                            Если у вас нет времени приехать к нам в офис? Наши специалисты приедут к вам,
                            предварительно
                            согласуют встречу и подготовят расчёт по техническому заданию на строительство дома
                        </div>
                        <div class="col-lg-4 mb-3 mb-lg-0">
                            <div class="ps-lg-5 ps-0">
                                Вы можете записаться на встречу в выходные дни
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <button class="button button_primary" data-bs-toggle="modal"
                        data-bs-target="#feedback-modal">
                                ЗАКАЗАТЬ ЗВОНОК
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/content}}
{{/extend}}
