    {{#extend "layouts/default" title="Партнеры"}}
    {{#content "page"}}
        <div class="partners">
            <div class="container">
                <ul class="breadcrumbs">
                    <li class="breadcrumbs__item"><a href="/" class="breadcrumbs__link">
                        Главная
                    </a></li>
                    <li class="breadcrumbs__item">
                        <a href="/about-company" class="breadcrumbs__link">
                        О компании
                    </a>
                    </li>
                    <li class="breadcrumbs__item">Партнеры</li>
                </ul>
                <h1>
                    Партнеры
                </h1>
                <div class="partners__items">
                    <div class="partner-card"><img class="partner-card__img"
                                                   src="/assets/images/site/partners/veka.webp" alt></div>
                    <div class="partner-card"><img class="partner-card__img"
                                                   src="/assets/images/site/partners/veka.webp" alt></div>
                    <div class="partner-card"><img class="partner-card__img"
                                                   src="/assets/images/site/partners/veka.webp" alt></div>
                    <div class="partner-card"><img class="partner-card__img"
                                                   src="/assets/images/site/partners/veka.webp" alt></div>
                    <div class="partner-card"><img class="partner-card__img"
                                                   src="/assets/images/site/partners/veka.webp" alt></div>
                    <div class="partner-card"><img class="partner-card__img"
                                                   src="/assets/images/site/partners/veka.webp" alt></div>
                    <div class="partner-card"><img class="partner-card__img"
                                                   src="/assets/images/site/partners/veka.webp" alt></div>
                    <div class="partner-card"><img class="partner-card__img"
                                                   src="/assets/images/site/partners/veka.webp" alt></div>
                    <div class="partner-card"><img class="partner-card__img"
                                                   src="/assets/images/site/partners/veka.webp" alt></div>
                    <div class="partner-card"><img class="partner-card__img"
                                                   src="/assets/images/site/partners/veka.webp" alt></div>
                    <div class="partner-card"><img class="partner-card__img"
                                                   src="/assets/images/site/partners/veka.webp" alt></div>
                    <div class="partner-card"><img class="partner-card__img"
                                                   src="/assets/images/site/partners/veka.webp" alt></div>
                </div>
            </div>
        </div>
        </div>
    {{/content}}
{{/extend}}
