    {{#extend "layouts/default" title="Партнеры"}}
    {{#content "page"}}
        <div class="partners">
            <div class="container">
                <h1>
                    Партнеры
                </h1>
                <div class="partners__items">
                    <div class="partner-card"><img class="partner-card__img"
                                                   src="/assets/images/site/partners/veka.jpg" alt></div>
                    <div class="partner-card"><img class="partner-card__img"
                                                   src="/assets/images/site/partners/veka.jpg" alt></div>
                    <div class="partner-card"><img class="partner-card__img"
                                                   src="/assets/images/site/partners/veka.jpg" alt></div>
                    <div class="partner-card"><img class="partner-card__img"
                                                   src="/assets/images/site/partners/veka.jpg" alt></div>
                    <div class="partner-card"><img class="partner-card__img"
                                                   src="/assets/images/site/partners/veka.jpg" alt></div>
                    <div class="partner-card"><img class="partner-card__img"
                                                   src="/assets/images/site/partners/veka.jpg" alt></div>
                    <div class="partner-card"><img class="partner-card__img"
                                                   src="/assets/images/site/partners/veka.jpg" alt></div>
                    <div class="partner-card"><img class="partner-card__img"
                                                   src="/assets/images/site/partners/veka.jpg" alt></div>
                    <div class="partner-card"><img class="partner-card__img"
                                                   src="/assets/images/site/partners/veka.jpg" alt></div>
                    <div class="partner-card"><img class="partner-card__img"
                                                   src="/assets/images/site/partners/veka.jpg" alt></div>
                    <div class="partner-card"><img class="partner-card__img"
                                                   src="/assets/images/site/partners/veka.jpg" alt></div>
                    <div class="partner-card"><img class="partner-card__img"
                                                   src="/assets/images/site/partners/veka.jpg" alt></div>
                </div>
            </div>
        </div>
        </div>
    {{/content}}
{{/extend}}
