{{#extend "layouts/default" title="Документации"}}
    {{#content "page"}}
        <div class="documentation">
            <div class="container">
                <ul class="breadcrumbs">
                    <li class="breadcrumbs__item"><a href="/" class="breadcrumbs__link">
                        Главная
                    </a></li>
                    <li class="breadcrumbs__item">
                        <a href="/for-client" class="breadcrumbs__link">
                        Клиенту
                    </a>
                    </li>
                    <li class="breadcrumbs__item">Документации</li>
                </ul>
                <h1>
                    Документации
                </h1>
                <div class="row documentation__files">
                    <div class="col-md-3">
                        <a href="#architecture" class="link link_lined link_gray"><i class="link__icon icon-adobe">

                        </i>Архитектурный раздел
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a href="#engeeniring" class="link link_lined link_gray"><i class="link__icon icon-adobe">

                        </i>Инженерный раздел
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a href="#docs" class="link link_lined link_gray"><i class="link__icon icon-adobe">

                        </i>Примеры документации
                        </a>
                    </div>
                </div>
                <div class="documentation__section">
                    <a id="architecture" class="anchor"></a>
                    <h3 class="text-primary">
                        Архитектурный раздел
                    </h3>
                    <div class="row">
                        <div class="col-md-10">
                            <div class="documentation__section-description">
                                Нужен для понимания концепции и геометрии дома - его внешнего вида, планировок и
                                подробных
                                размеров по ним. Позволяет пройти регистрацию дома в гос. органах.
                            </div>
                        </div>
                    </div>
                    <div class="documentation__section-item">
                        <div class="row">
                            <div class="col-md-4"><img src="/assets/images/site/documentation/doc.png" alt></div>
                            <div class="col-md-6"><h4>Общие характеристики дома</h4>
                                <div>
                                    Входит описание конструкций дома и его технических параметров, таких как общая
                                    площадь
                                    дома, жилая площадь, тип фундамента, материал стен, перекрытий, покрытие кровли
                                    и т.д.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="documentation__section-item">
                        <div class="row">
                            <div class="col-md-4"><img src="/assets/images/site/documentation/doc.png" alt></div>
                            <div class="col-md-6"><h4>Цветные фасады</h4>
                                <div>
                                    Эскизы внешнего вида дома со всех сторон в цвете. Они дают полное представление
                                    об
                                    архитектуре сооружения, особенностях его внешнего вида, отделке и цветовом
                                    оформлении.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="documentation__section">
                    <a id="engeeniring" class="anchor"></a>
                    <h3 class="text-primary">
                        Инженерный раздел
                    </h3>
                    <div class="row">
                        <div class="col-md-10">
                            <div class="documentation__section-description">
                                Позволяет строителям проложить сети отопления, водоснабжения, канализации и
                                электрики в
                                процессе возведения дома оптимальным маршрутом, что сокращает расходы на материалы и
                                монтаж.
                            </div>
                        </div>
                    </div>
                    <div class="documentation__section-item">
                        <div class="row">
                            <div class="col-md-4"><img src="/assets/images/site/documentation/doc.png" alt></div>
                            <div class="col-md-6"><h4>Отопление и вентиляция</h4>
                                <div>
                                    В данном разделе имеются чертежи разводки системы трубопровода, указаны места
                                    монтажа
                                    радиаторов и отопительного котла, схема расположения теплого пола. Здесь есть
                                    указания,
                                    позволяющие правильно установить ключевые элементы системы отопления, подробно
                                    описаны
                                    материалы и агрегаты, указано их количество. В раздел включены чертежи,
                                    содержащие также
                                    информацию о системе вентиляции. В них показаны места создания вентиляционных
                                    каналов,
                                    которые будут функционировать в соответствии с действующими нормативами и
                                    правилами.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="documentation__section-item">
                        <div class="row">
                            <div class="col-md-4"><img src="/assets/images/site/documentation/doc.png" alt></div>
                            <div class="col-md-6"><h4>Водопровод и канализация</h4>
                                <div>
                                    Представлена схема разводки труб, предназначенных для подвода воды, слива
                                    канализационных стоков. В чертежах есть подробное расположение котлов, бойлеров,
                                    раковин
                                    и иных санитарно-технических изделий. Здесь есть все узлы системы водопровода и
                                    канализации без исключения. Также указывается место расположения септика. В
                                    разделе
                                    прописаны указания, позволяющие правильно установить ключевые элементы систем,
                                    указано
                                    требуемое количество материалов и агрегатов, которые нужны для создания
                                    водопровода и
                                    канализации.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="documentation__section">
                    <a id="docs" class="anchor"></a>
                    <h3 class="text-primary">
                        Примеры документации
                    </h3>
                    <div class="row documentation-slider">
                        <div class="col-1 d-flex align-items-center">
                            <i role="button"
                               class="documentation-slider__prev icon-arrow-left"></i>
                        </div>
                        <div class="col-10">
                            <div class="swiper-container documentation-slider__swiper">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <img src="/assets/images/site/documentation/doc.png" alt>
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="/assets/images/site/documentation/doc.png" alt>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-1 d-flex align-items-center">
                            <i role="button"
                               class="documentation-slider__next icon-arrow-right"></i>
                        </div>
                    </div>
                </div>
                <div class="get__consultation"><img src="/assets/images/site/for-client/consultation.png"
                                                    alt="">
                    <div class="get__consultation-content">
                        <div class="get__consultation-text"><h3>Получите
                            консультацию</h3>
                            Консультация эксперта с 10 летним стажем
                        </div>
                        <button type="button" class="button button_primary">
                            ПОЛУЧИТЬ КОНСУЛЬТАЦИЮ
                        </button>
                    </div>
                </div>
            </div>
        </div>
    {{/content}}
{{/extend}}
